#form-alert
	- if flash[:notice_show]
		.alert.alert-success{:role => "alert"}= flash[:notice_show]
#new-contestant-form
	= form_for(@contestant, class: "form-horizontal", :role => "form") do |f|
		/ Error Messages
		.row.form-group
			- if flash[:notice]
				.alert{class: flash[:color], role: "alert"}
					%p= flash[:notice]
					- if @contestant.errors.any?
						%p
							= pluralize(@contestant.errors.count, "error")
							prohibited this contestant from being saved:
						%ul
							- @contestant.errors.full_messages.each do |message|
								%li= message
		/ End Error Messages
		/ Form Portion
		.row.form-group
			= f.label :contestant_name
			= f.text_field :name, class: "form-control"
		.row.form-group
			= f.label :age
			= f.number_field :age, class: "form-control"
		.row.form-group
			= f.label :gender
			= f.select :gender, options_for_select(Contestant.select_gender), {include_blank: "Select gender"}, {class: "form-control"}
		.row.form-group
			= f.label :occupation
			= f.text_field :occupation, class: "form-control"
		.row.form-group
			= f.label :description
			= f.text_area :description, class: "form-control", :placeholder => "Enter description here", :rows => 5
		.row.form-group
			= f.label :image
			= f.text_field :image, class: "form-control"
		.row.form-group#status-form
			.col-lg-12
				.row= label_tag :season_ids
				- @seasons.each do |season|
					.row
						= check_box_tag :contestant_seasons, season.id, false, {class: "checkbox_season", "data-contestant-id" => @status.contestant_id, "data-season-id" => @status.season_id}
						= season.full_name
		.row.form-group.actions
			.btn.btn-sm.btn-default.create-btn Create New
			.btn.btn-sm.btn-default.update-btn Update
			.btn.btn-sm.btn-default.cancel-btn Cancel