<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h3><%= @show.name %></h3>
			<%= link_to "Back to Show", show_path(@show.id), class:"btn btn-default" %>
			<%= link_to "edit path", root_path, class:"btn btn-default" %>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="panel-body">


				<table class="table table-hover" id="contestants">
					<thead>
						<tr>
							<th>Image</th>
							<th>Name</th>
							<th>Age</th>
							<th>Occupation</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<% @contestants.each do |contestant| %>
							<tr>
								<td><%= image_tag contestant.image, class:"img-thumbnail thumbnail-sm" %></td>
								<td><span href="#" data-name="name" data-pk="<%= contestant.id %>"><%= contestant.name %></span></td>
								<td><span href="#" data-name="age" data-pk="<%= contestant.id %>"><%= contestant.age %></span></td>
								<td><span href="#" data-name="occupation" data-pk="<%= contestant.id %>"><%= contestant.occupation %></span></td>
								<td><span href="#" data-name="description" data-pk="<%= contestant.id %>"><%= contestant.description %></span></td>
								<td><button class="btn edit">Edit</i></button><button class="btn btn-primary">Save</button></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

