<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h3><%= @season.name %> Contestants</h3>
			<%= link_to "Back to Season", season_path(@season.id), class:"btn btn-default" %>
			<%= link_to "Add New Contestant", new_contestant_path(@season.id), class:"btn btn-default" %>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="panel-body">


				<table class="table table-hover" id="contestants">
					<thead>
						<tr>
							<th class="col-lg-1">Image</th>
							<th class="col-lg-2">Name</th>
							<th class="col-lg-1">Age</th>
							<th class="col-lg-3">Occupation</th>
							<th class="col-lg-4">Description</th>
							<th class="col-lg-1"></th>
						</tr>
					</thead>
					<tbody>
						<% @contestants.each do |contestant| %>
							<tr>
								<td>
									<%= image_tag contestant.image, class:"img-thumbnail thumbnail-sm" %>
								</td>
								<td>
									<span data-name="name" data-pk="<%= contestant.id %>">
										<%= contestant.name %>
									</span>
								</td>
								<td>
									<span data-name="age" data-pk="<%= contestant.id %>"><%= contestant.age %>
									</span>
								</td>
								<td>
									<span data-name="occupation" data-pk="<%= contestant.id %>"> 
										<%= contestant.occupation %>
									</span>
								</td>
								<td>
									<span data-name="description" data-pk="<%= contestant.id %>">
										<%= contestant.description %>
									</span>
								</td>
								<td>
									<button class="btn btn-default edit">Edit</i></button><button class="btn btn-primary">Save</button></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

