<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel-heading">
			<h2>Show Listing</h2>
			<%= link_to 'Add New Show', new_season_path, class:"btn btn-default" %>
		</div>
		<div class="panel-body">
			<table class="table table-hover">
				<h4>Current Seasons</h4>
				<thead>
					<tr>
						<th class="col-sm-3">Season Name</th>						<!-- column 1 -->
						<th class="col-sm-1">Status</th>								<!-- column 2 -->
						<th class="col-sm-1">Premiere</th>							<!-- column 3 -->
						<th class="col-sm-3">Actions</th>								<!-- column 4 -->
						<th class="col-sm-2">Score Schemas</th>					<!-- column 6 -->
						<th class="col-sm-1">Destroy</th>								<!-- column 7 -->
					</tr>
				</thead>
				<tbody>
					<% @seasons.each do |show| %>
						<tr>
							<td><%= show.show.name %>: <%= link_to show.name, show_path(show.id) %></td>				<!-- column 1 -->
							<td>																																								<!-- column 2 -->
								<% if show.expired == true %>
									Completed
								<% else %>
									<% if show.premiere_date < @current_date %>
										Commenced
									<% else %>
										Draft Open
									<% end %> 
								<% end %>
							</td>
							<td><%= show.premiere_date.strftime("%D") %></td>																		<!-- column 3 -->
							<td>
								<% if show.editable?(show.id) == true %>
									<%= link_to 'Edit', edit_season_path(show.id), class:"btn btn-sm btn-default" %>
								<% else %>
									<%= link_to 'View', season_path(show.id), class:"btn btn-sm btn-default" %>
								<% end %>
									<%= link_to 'Contestants', contestants_season_path(show.id), class:"btn btn-sm btn-default" %>
							</td>
							<td>
								<%= link_to 'Add', edit_season_path(show.id), class:"btn btn-sm btn-default" %>
								<%= link_to 'Edit', edit_season_path(show.id), class:"btn btn-sm btn-default" %>
							</td>
							<td>
								<% if show.destroyable?(show.id) == false %>
									<%= button_to 'Destroy', season_path(show.id), method: :delete, data: { confirm: 'Are you sure you want to delete this show?' }, class:"btn btn-sm btn-default" %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<table class="table table-hover">
				<h4>Past Season</h4>
				<thead>
					<tr>
						<th class="col-sm-2">Show Name</th>
						<th class="col-sm-1">Status</th>
						<th class="col-sm-1">Premiered</th>
						<th class="col-sm-2">Actions</th>
						<th class="col-sm-1"></th>
						<th class="col-sm-1"></th>
						<th class="col-sm-2">Score Schemas</th>
					</tr>
				</thead>
				<tbody>
					<% @past_seasons.each do |show| %>
						<tr>
							<td><%= link_to show.name, season_path(show.id) %></td>
							<td>
								<% if show.expired == true %>
									Completed
								<% else %>
									<% if show.premiere_date < @current_date %>
										Commenced
									<% else %>
										Draft Open
									<% end %> 
								<% end %>
							</td>
							<td>
								<%= show.premiere_date.strftime("%D") %>
							</td>
							<td>
								<% if show.editable?(show.id) == true %>
									<%= link_to 'Edit', edit_season_path(show.id), class:"btn btn-sm btn-default" %>
								<% else %>
									<%= link_to 'View', season_path(show.id), class:"btn btn-sm btn-default" %>
								<% end %>
								<% if show.destroyable?(show.id) == false %>
									<%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure you want to delete this show?' }, class:"btn btn-sm btn-default" %>
								<% end %>
							</td>
							<td>Score Schema</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>