.panel.panel-default
	.panel-body
		.panel-heading
			%h2 Season Listing
			= link_to 'Add New Show', new_season_path, class:"btn btn-default"
		.panel-body
			%table.table.table-hover
				/ Error Messages
				.row.form-group
					- if flash[:notice] && flash[:color] == "valid"
						.alert.alert-success{:role => "alert"}= flash[:notice]
					- elsif flash[:notice] && flash[:color] == "invalid"
						.alert.alert-warning{:role => "alert"}= flash[:notice]
					- elsif flash[:notice] && flash[:color] == "prohibited"
						.alert.alert-danger{:role => "alert"}= flash[:notice]
				/ End Error Messages
				%h4 
					Current 
					= pluralize_without_count(@seasons.count, "Season", text = nil)
				%thead
					%tr
						%th.col-sm-3 Season Name
						/ column 1
						%th.col-sm-1 Status
						/ column 2
						%th.col-sm-1 Premiere
						/ column 3
						%th.col-sm-4 Actions
						/ column 4
						%th.col-sm-2 Score Schemas
						/ column 6
						%th.col-sm-1 Destroy
						/ column 7
				%tbody
					- @seasons.each do |season|
						%tr
							%td
								= season.show.name
								\: #{link_to season.name, season_path(season.id)}
							/ column 1
							%td
								/ column 2
								- if season.expired == true
									Completed
								- else
									- if season.premiere_date < @current_date
										Commenced
									- elsif season.published? == false
										Unpublished
									- else
										Draft Open
							%td= season.premiere_date.strftime("%D")
							/ column 3
							%td
								- if season.expired? == false
									= link_to 'Edit', edit_season_path(season.id), class:"btn btn-sm btn-default"
								- else
									= link_to 'View', season_path(season.id), class:"btn btn-sm btn-default"
								= link_to 'Contestants', contestants_season_path(season.id), class:"btn btn-sm btn-default"
								- if season.published? 
									= link_to 'Unpublish', unpublish_season_path(season.id), :method => "patch", class:"btn btn-sm btn-default"
								- else
									= link_to 'Publish', publish_season_path(season.id), :method => "patch", class:"btn btn-sm btn-default"
							%td
								= link_to 'Add', edit_season_path(season.id), class:"btn btn-sm btn-default"
								= link_to 'Edit', edit_season_path(season.id), class:"btn btn-sm btn-default"
							%td
								- if season.expired? == false 
									= button_to "Destroy", season_path(season.id), class:"btn btn-sm btn-default"