.panel.panel-default#season-display
	.panel-body
		.col-lg-7
			%h2
				= @season.show.name + ": "
				= @season.name
			%p
				- if @season.expired
					Run Date:
					= @season.premiere_date.strftime("%B %d, %Y")
					\-
					= @season.finale_date.strftime("%B %d, %Y")
				- else
					Premieres: 
					= @season.premiere_date.strftime("%B %d")
			- if @season.expired == false
				= link_to "Find a league", leagues_search_path, class:"btn btn-primary btn-sm"
			= render "shows/scoring_system"
		.col-lg-5.text-right
			= link_to "Back to #{@season.show.name}", show_path(@season.show.id), class:"btn btn-default btn-sm"
			= link_to "Back to All Shows", shows_path, class:"btn btn-default btn-sm"
	.panel-body
		.col-lg-12
			%h4 Contestants
			- @contestants.each do |contestant|
				.col-xs-3.col-sm-2.col-md-2.col-lg-2
					- if contestant.present == true
						.thumbnail
							.fading{"data-id" => contestant.id}
								= image_tag contestant.image
							.caption
								%p.name= contestant.name
								%p.status 
									#{contestant.status_on_show}
							/ 		
					- else
						.thumbnail
							.fading.eliminated{"data-contestant-id" => contestant.id}
								= image_tag contestant.image
							.caption
								%p.name= contestant.name
								%p.status 
									(#{contestant.status_on_show})
	- if @season.episodes.any?
		.panel-body
			.col-lg-12
				%h4 Score By Episode
				%table.table.table-hover
					%thead
						%tr
							%th.col-lg-2 Contestants
							- @season.episodes.count.times do |i|
								%th= i+1
							%th.col-lg-1 Status
					%tbody
						- @contestants_ranking.each_with_index do |contestant, index|
							%tr
								%td
									= link_to contestant.name, contestant_path(contestant.id)
								- @season.episodes.each_with_index do |episode, i|
									%td
										= link_to contestant.calculate_points_per_episode(episode.id), episode_path(episode.id)
								%td= contestant.status_on_show