<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-md-6">
			<h2><%= @show.name %></h2>
			<h3><%= @show.franchise.name %></h3>
		</div>
		<div class="col-md-6 text-right text-bottom">
			<% if @current_user && @current_user.admin? %>
				<%= link_to "Edit Show", edit_show_path(@show.id), class:"btn btn-default" %>
				<%= link_to "Edit Contestants", contestants_show_path(@show.id), class:"btn btn-default" %>
				<%= link_to "Back to Shows", shows_path, class:"btn btn-default" %>
			<% end %>
		</div>
		<div class="panel-body">
			<div class="col-md-9 col-md-push-3">
				<div class="panel-body">
					<h2>Contestants</h2>
						<% @contestants.each do |contestant| %>
							<div class="col-sm-6 col-md-4">
								<div class="thumbnail tmbn-contestant">
									<%= image_tag contestant.image %>
									<div class="caption">
										<h4><%= contestant.name %><%= contestant.status %></h4>
										Age: <%= contestant.age %>
										<br>
										Occupation: <%= contestant.occupation %>
									</div>	
								</div>
							</div>

						<% end %>
					</div>
				</div>
				<div class="col-md-3 col-md-pull-9">
					<div class="row">
						<div class="col-md-12">
							<%= image_tag @show.image, class:"img-thumbnail" %>					
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4>Description: </h4>
							<%= @show.description %>					
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<% if @show.expired == true %>
								<h4>Premiered: <%= @show.premiere_date.strftime("%B %d, %Y") %></h4>
								<p><%= @show.description %></p>
							<% else %>
								<h4>Premieres: <%= @show.premiere_date.strftime("%B %d") %></h4>
								<%= button_to "Find a league for this show", leagues_path, class:"btn btn-default" %> <!-- FIXME -->
							<% end %>				
						</div>
					</div>
				</div>
				<!-- end -->
		</div>
	</div>
</div>