.panel.panel-default
	.panel-body
		.col-md-12
			%h2 Sign In
			#sign-in-form.col-lg-4.col-md-6.col-sm-6
				= form_tag("/login", method: "post", :role => "form") do
					.row.form-group
						= label_tag :email, "Email", class:"control-label"
						%br/
						= text_field_tag "email", nil, class:"form-control", placeholder: "email@domain.com", :autofocus => true
					.row.form-group
						= label_tag(:password, "Password", class:"control-label")
						= password_field_tag :password, nil, class:"form-control"
					.row.form-group
						%label
						%input{:type => "checkbox"}/
						Remember me
					.row.form-group
						= submit_tag("Sign in", :class => "form_submit btn btn-default")
					.row.form-group
						= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class:"btn btn-primary", disabled:'disabled'
					.row.form-group
						%p
							By signing in you are agreeing to our
							%a{:href => "/pages/about"} Term and Services.