.panel.panel-default
	.panel-body
		.col-lg-12.col-md-12
			%h2= @header
			%br/
			#fb-login
				.btn.btn-md.btn-default.fb-button#fb-login-button{"data-max-rows" => 1, "data-size" => "medium", "data-show-faces" => false, "data-auto-logout-link" => false, "data-scope" => "public_profile, user_friends, email", "data-action" => "fb-login", "data-user-id" => nil} 
					%span= image_tag "/assets/fbicon-white.png", asc: "Facebook Icon", class: "fb-icon-xs"
					Sign in with Facebook
			%br/
			%p OR
			#sign-in-form.col-lg-4.col-md-6.col-sm-6
				-# Error Messages
				- if flash[:notice]
					.row.form-group
						.alert{class: flash[:color], :role => "alert"}
							= flash[:notice]
							- if @errors.present?
								%ul
								- @errors.each do |error|
									%li= error
				-# Form 
				= form_tag("/login", method: "post", :role => "form") do
					.row.form-group
						= label_tag :email, "Email", class:"control-label"
						%br/
						= text_field_tag "email", nil, class:"form-control", placeholder: "email@domain.com", :autofocus => true
					.row.form-group
						= label_tag(:password, "Password", class:"control-label")
						= password_field_tag :password, nil, class:"form-control"
					.row.form-group
						%label
						%input{:type => "checkbox"}/
						Remember me
					.row.form-group
						= submit_tag("Sign in", :class => "form_submit btn btn-default")
						%span.help-block
							%a{:href => "#"} Forgot password?
					.row
						%p 
							New to the site?
							%a{:href => "/users/new"} Sign Up
			#sign-in-message.col-lg-8.col-md-6.col-sm-6