.panel.panel-default
	.panel-body
		.col-md-12
			%h2 Sign In
			#sign-in-form.col-lg-4.col-md-6.col-sm-6
				/ Error Messages
				- if flash[:notice] && flash[:color] == "valid"
					.row.form-group
						.alert.alert-success{:role => "alert"}= flash[:notice]
				- elsif flash[:notice] && flash[:color] == "invalid"
					.row.form-group
						.alert.alert-warning{:role => "alert"}= flash[:notice]
				/ End Error Messages
				= form_tag("/login", method: "post", :role => "form") do
					.row.form-group
						= label_tag :email, "Email", class:"control-label"
						%br/
						= text_field_tag "email", nil, class:"form-control", placeholder: "email@domain.com", :autofocus => true
					.row.form-group
						= label_tag(:password, "Password", class:"control-label")
						= password_field_tag :password, nil, class:"form-control"
					.row.form-group
						%label
						%input{:type => "checkbox"}/
						Remember me
					.row.form-group
						= submit_tag("Sign in", :class => "form_submit btn btn-default")
						%span.help-block
							%a{:href => "#"} Forgot password?
					.row.form-group

						%div#sign_in.btn.fb-login-button{:data => {"max-rows" => 1, "size" => "large", "auto-logout-link" => false, "show-faces" => false}}
					.row
						%p 
							New to the site?
							%a{:href => "/users/new"} Sign Up
			#sign-in-message.col-lg-8.col-md-6.col-sm-6