<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel panel-heading">
			<h1>Start a league</h1>
		</div>
		<%= form_for(@league) do |f| %>
			<div class="panel panel-body">
				<!-- Errors Message -->
				<% if @league.errors.any? %>
					<div class="row form-group alert alert-danger">
						<h4><%= pluralize(@league.errors.count, 'error') %> prohibited this league from being saved:</h4>
						<ul>
							<% @league.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				</div>
			<% end %>

				<!-- Form -->
				<div class="row">
					<%= f.hidden_field :commissioner_id, value: @current_user.id %>
				</div>
				<!-- Select reality show -->
				<div class="row form-group"> 
					<div class="col-md-3 text-right">
						<%= f.label :reality_show %><br>
					</div>
					<div class="col-md-6">
						<%= f.select(:show, options_for_select(Show.select_show), {}, {:class => "form-control"}) %>
					</div>
				</div>
				<!-- Name of League -->
				<div class="row form-group"> 
					<div class="col-md-3 text-right">
						<%= f.label :league_name %><br>	
					</div>
						<div class="col-md-6">
					<%= f.text_field :name, :class => "form-control" %>
					</div>
				</div>
				<!-- Public or private league, public default -->
				<div class="row form-group"> 
					<div class="col-md-3 text-right">
						<%= f.label :league_access %><br>
					</div>
					<div class="col-md-3">
						<%= f.radio_button :public_access, true %>
						<%= f.label(:public, 'Public league') %>
					</div>
					<div class="col-md-3">
						<%= f.radio_button(:public_access, false) %>
						<%= f.label(:private, 'Private league') %>
					</div>
				</div>
				<!-- Draft type FIXME! -->
				<div class="row form-group">
					<div class="col-md-3 text-right">
						<%= f.label :draft_type %><br>
					</div>
					<div class="col-md-3">
						<%= f.radio_button :draft_type, true %>
						<%= f.label(:fantasy, 'Fantasy') %>
					</div>
					<div class="col-md-3">
						<%= f.radio_button(:draft_type, false) %>
						<%= f.label(:bracket, 'Bracket') %>
					</div>
				</div>
				<!-- Scoring system FIXME! -->
				<div class="row form-group"> 
					<div class="col-md-3 text-right">
						<%= f.label :scoring_system %><br>
					</div>
					<div class="col-md-3">
						<%= f.radio_button :scoring_system, true %>
						<%= f.label(:standard, 'Standard') %>
					</div>
					<div class="col-md-3">
						<%= f.radio_button(:scoring_system, false) %>
						<%= f.label(:custom, 'Custom') %>
					</div>
				</div>
				<div class="row form-group">
					<div class="actions col-md-9 text-right">
							<%= f.submit "Create League", :class => "btn btn-default" %>
							<%= link_to("Cancel", leagues_path, class:'btn btn-default') %>
					</div>
				</div>
			</div>
		<% end %>
	</div>