.panel.panel-default
	.panel-body.panel
		- if params[:id]
			%h1 Edit league
		- else
			%h1 Start a league
	.panel-body#league_creation
		= form_for(@league) do |f|
			/ Errors Message
			- if @league.errors.any?
				.row.form-group.alert.alert-danger{:role => "alert"}
					%h4
						= pluralize(@league.errors.count, 'error')
						prohibited this league from being saved:
					%ul
						- @league.errors.full_messages.each do |message|
							%li= message
			/ Form
			.row
				= f.hidden_field :commissioner_id, value: @current_user.id
			/ Select show to filter season
			.row.form-group
				.col-md-3.text-right
					= label_tag :show
				.col-md-6
					/ Disable popup description if editing league;
					/ New league will get popup description of fields
					- if @league_show_id
						.div#popupDisabler.hidden= @league_show_id
						= select_tag(:show_id, options_for_select(Show.select_show, @league_show_id), {class:"form-control step1"})
					- else
						= select_tag(:show_list, (), {:prompt => "Select a show", class:"form-control step1", :required => true})
			/ Select reality show's season
			.row.form-group
				.col-md-3.text-right
					= f.label :season
					%br/
				.col-md-6
					- if @league_season_id
						= f.select(:season, [], {:include_blank => "Select a season"}, {class:"form-control step2"})
					- else
						= f.select(:season, [], {:include_blank => "Select a season"}, class:"form-control step2", :required => true)
			/ Name of League
			.row.form-group
				.col-md-3.text-right
					= f.label :league_name
					%br/
				.col-md-6{:id => "league_name", :data => {:toggle => "popover", :trigger => "hover", :content => "And here's some amazing content. It's very engaging. Right?"}, :title => "Enter League Name"} 
					= f.text_field :name, class:"form-control", :placeholder => "Enter name here", :required => true
			/ Public or private league, public default
			.row.form-group
				.col-md-3.text-right
					= f.label :league_access
				.col-md-6{:id => "league_type", :data => {:toggle => "popover", :trigger => "hover", :content => "Go 'Public' if you want others to search and join your league. Select 'Private' if you want an exclusive 'invite-only' league."}, :title => "Public vs. Private"}
					.col-md-6
						= f.radio_button :public_access, true
						= f.label(:public, 'Public league')
					.col-md-6
						= f.radio_button(:public_access, false)
						= f.label(:private, 'Private league')
			/	Draft Type
			.row.form-group
				.col-md-3.text-right
					= f.label :draft_type
					%br/
				.col-md-6{:id => "draft_type", :data => {:toggle => "popover", :trigger => "hover", :content => "And here's some amazing content. It's very engaging. Right?"}, :title => "Dismissible popover"} 
					- if @league_draft_type	
						= f.select(:draft_type, options_for_select(@draft_type, @league_draft_type), {}, {:class => "form-control"})
					- else
						= f.select(:draft_type, options_for_select(@draft_type), {:include_blank => "Select draft type"}, class:"form-control")
			/ Scoring system FIXME!
			.row.form-group
				.col-md-3.text-right
					= f.label :scoring_system
					%br/
				.col-md-6{:id => "league_scoring", :data => {:toggle => "popover", :trigger => "hover", :content => "Choose between standard scoring system for a show's contestant, or customize your league's scoring scheme."}, :title => "Select Scoring System"}
					.col-md-6
						= f.radio_button :scoring_system, true
						= f.label(:standard, 'Standard')
					.col-md-6
						= f.radio_button(:scoring_system, false)
						= f.label(:custom, 'Custom')
			/ Submit
			.row.form-group
				.actions.col-md-offset-3.col-md-9
					- if params[:id]
						= f.submit "Update League", :class => "btn btn-default"
					- else
						= f.submit "Create League", :class => "btn btn-default"
					= link_to("Cancel", leagues_path, class:'btn btn-default')