.panel.panel-default
	.panel-body
		.col-md-12
			%h2 My Dashboard
			.panel.panel-default
				.panel-heading
					%h4
						#{pluralize_without_count(@current_user.rosters.count, "Roster", text = nil)} and #{pluralize_without_count(@current_user.leagues.count, "League", text = nil)}
				.panel-body
					%table#my_leagues_table.table.table-hover
						%thead
							%tr
								%th.col-lg-4 League Name
								%th.col-lg-1
								%th Season
								%th Type
								%th= pluralize_without_count(@comm_leagues.count, "Action", text = nil)
						%tbody
							- @leagues.each do |league|
								%tr
									%td.col-lg-4
										= league.name
									%td.col-lg-1
										- if league.commissioner_id == @current_user.id
											%i.fa.fa-star
									%td.col-lg-2
										= league.season.show.name + ": "
										= league.season.name
									%td.col-lg-1
										- if league.public_access == true
											Public
										- else
											Private
									%td.col-lg-3
										= link_to "View", league_path(league.id), class:'btn btn-default'
										- if league.commissioner_id == @current_user.id
											= link_to(content_tag(:div, "Edit", class:'btn btn-default'), edit_league_path(league))
			.panel.panel-default
				.panel-heading
					%h4
						Past #{pluralize_without_count(@current_user.leagues.count, "League", text = nil)}
					/ FIXME
				.panel-body
					%table#my_leagues_table.table.table-hover
						%thead
							%tr
								%th.col-lg-4 League Name
								%th.col-lg-1 
								%th.col-lg-2 Show
								%th.col-lg-1 Type
								%th.col-lg-3
									= pluralize_without_count(@comm_leagues.count, "Action", text = nil)
						%tbody
							- @past_leagues.each do |league|
								%tr
									%td
										= league.name
									%td
										- if league.commissioner_id == @current_user.id
											%i.fa.fa-star
									%td
										= league.season.name
									%td
										- if league.public_access == true
											Public
										- else
											Private
									%td
										= link_to "View", league_path(league.id), class:'btn btn-default'