<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-md-12">
			<h2>My Dashboard</h2>		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Rosters and <%= pluralize_without_count(@current_user.leagues.count, "League", text = nil) %></h4>
				</div>
				<div class="panel-body">
					<table class="table table-hover" id="my_leagues_table">
						<thead>
							<tr>
								<th>League Name</th>
								<th>Show</th>
								<th>Type</th>
								<th><%= pluralize_without_count(@comm_leagues.count, "Action", text = nil) %></th>
							</tr>
						</thead>
						<tbody>
							<% @leagues.each do |league| %>
								<tr>
									<td>
										<% if league.commissioner_id == @current_user.id %>
											<i class="fa fa-star"></i>
										<% end %>
										<%= league.name %></td>
									<td>
										<%= league.show.name %> 
									</td>
									<td>
										<% if league.public_access == true %>
											Public
										<% else %>
											Private 
										<% end %>
									</td>
									<td>
										<%= link_to "View League", league_path(league.id), class:'btn btn-default' %>
										<% if league.commissioner_id == @current_user.id %>
											<%= link_to(content_tag(:div, "Edit League", class:'btn btn-default'), edit_league_path(league)) %>
										<% end%>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Past <%= pluralize_without_count(@current_user.leagues.count, "League", text = nil) %></h4> <!-- FIXME -->
				</div>
				<div class="panel-body">
					<table class="table table-hover" id="my_leagues_table">
						<thead>
							<tr>
								<th>League Name</th>
								<th>Show</th>
								<th>Type</th>
								<th><%= pluralize_without_count(@comm_leagues.count, "Action", text = nil) %></th>
							</tr>
						</thead>
						<tbody>
							<% @past_leagues.each do |league| %>
								<tr>
									<td>
										<% if league.commissioner_id == @current_user.id %>
											<i class="fa fa-star"></i>
										<% end %>
										<%= league.name %></td>
									<td>
										<%= league.show.name %> 
									</td>
									<td>
										<% if league.public_access == true %>
											Public
										<% else %>
											Private 
										<% end %>
									</td>
									<td>
										<%= link_to "View League", league_path(league.id), class:'btn btn-default' %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

									<%#= link_to "View Roster", roster_path(@current_user.roster_for_league(league)), class:'btn btn-default' %>