.panel.panel-default
	.panel-body
		.col-md-12
			%h2 My Dashboard
			.panel.panel-default
				.panel-heading
					%h4
						#{pluralize_without_count(@current_user.rosters.count, "Roster", text = nil)} and #{pluralize_without_count(@current_user.leagues.count, "League", text = nil)}
				.panel-body
					%table#my_leagues_table.table.table-hover
						%thead
							%tr
								%th.col-lg-3 League Name
								%th.col-lg-3 Season
								%th.col-lg-1 Type
								%th.col-lg-2 Status
								%th.col-lg-2= pluralize_without_count(@comm_leagues.count, "Action", text = nil)
						%tbody
							- @leagues.each do |league|
								%tr
									%td
										= league.name
										- if league.commissioner_id == @current_user.id
											%img{:src => "/assets/ref.png"}
									%td
										= league.season.show.name + ": "
										= league.season.name
									%td
										- if league.public_access?
											Public
										- else
											Private
									%td
										Status of league
									%td
										= link_to "View", league_path(league.id), class: "btn btn-default btn-sm"
										- if league.commissioner_id == @current_user.id
											= link_to(content_tag(:div, "Edit", class: "btn btn-default btn-sm"), edit_league_path(league))
					%p
						= image_tag("/assets/ref.png") + " Commissioner"
			.panel.panel-default
				.panel-heading
					%h4
						Past #{pluralize_without_count(@current_user.leagues.count, "League", text = nil)}
					/ FIXME
				.panel-body
					%table#my_leagues_table.table.table-hover
						%thead
							%tr
								%th.col-lg-3 League Name
								%th.col-lg-1 
								%th.col-lg-2 Show
								%th.col-lg-1 Type
								%th.col-lg-3
									= pluralize_without_count(@comm_leagues.count, "Action", text = nil)
						%tbody
							- @past_leagues.each do |league|
								%tr
									%td
										= league.name
										- if league.commissioner_id == @current_user.id
											%img{:src => "/assets/ref.png", class: "icon"}
									%td
										= league.season.name
									%td
										- if league.public_access?
											Public
										- else
											Private
									%td
										-
										= link_to "View", league_path(league.id), class: "btn btn-default btn-sm"
					%p
						= image_tag("/assets/ref.png") + "   Commissioner"