<div class="panel panel-default">
	<span class="participating-leagues">
		<% if @current_user.leagues.count > 0 %>
			<h2>Dashboard: <%= pluralize(@current_user.leagues.count, "League") %></h2>
		<% else %>
			<h2>You have not joined a league.</h2>
			<% render partial: "nav_league_access" %>
		<% end %>
		<table id="my_leagues_table">
			<thead>
			
				<tr>
					<th>League Name</th>
					<th>Show</th>
					<th></th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @leagues.each do |league| %>
					<tr>
						<td><%= league.name %></td>
						<td>
							<%= league.show.name %> 
						</td>
						<% if league.commissioner_id == @current_user.id %>
							<td>
								<div class="commish_league_icon">(Commissioner)</div>
							</td>
						<% else %>
							<td></td>
						<% end %>
						<td>
							<%= link_to(content_tag(:div, "Edit Roster", class:'btn btn-default'), rosters_path) %>
							<% if league.commissioner_id == @current_user.id %>
								<%= link_to(content_tag(:div, "Edit League", class:'btn btn-default'), edit_league_path(league)) %>
							<% end%>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</span>
</div>
