/ League display and search results
.col-lg-5
	%h2 Public Leagues
.col-lg-7
	%form.navbar-form.navbar-right{:action => "/leagues/search", role: "search", method: "get"}
		.form-group
			%input.input-sm{:type => "text", class: "form-control", name: "search", id: "search", placeholder: "Search league"}/
			%button.btn.btn-sm.btn-default{type: "submit"} Submit
.panel-body
	.row
	- if params[:search]
		%h4
			Search Results for
			= "\"" + params[:search] + "\""
	%table.table.table-striped
		%thead
			%tr
				%th League Name
				%th Show
				%th Type
				%th Action
		- if @league_result
			%tbody
				%tr
					%td= @league_result.name
					%td= @league_result.season.show.name + ": " + @league_result.season.name
					%td= @league_result.type
					%td
						- if @league_result.users.include? (@current_user)
							= link_to "Manage roster", league_path(@league_result), class: "btn btn-default btn-sm"
						- else
							= link_to "Join", league_path(@league_result), class: "btn btn-default btn-sm"
		- elsif @league_results_participant
			%tbody
				- @league_results_participant.each do |league|
					%tr
						%td= league.name
						%td= league.season.show.name + ": " + league.season.name
						%td= league.type
						%td
							- if league.users.include? (@current_user)
								= link_to "Manage roster", league_path(league.id), class: "btn btn-default btn-sm"
							- else
								= link_to "Join", league_path(league.id), class: "btn btn-default btn-sm"
		- else
			%tbody
				- @league_results.each do |league|
					%tr
						%td= league.name
						%td= league.season.show.name + ": " + league.season.name
						%td= league.type
						%td
							- if league.users.include? (@current_user)
								= link_to "Manage roster", league_path(league.id), class: "btn btn-default btn-sm"
							- else
								= link_to "Join", league_path(league.id), class: "btn btn-default btn-sm"