- if flash[:notice].present? 
	.alert{class: "#{flash[:color]}", role: "alert"}
		= flash[:notice]
.panel.panel-default#league_view
	.panel-body
		.col-lg-8.col-md-8.col-sm-8
			%h2= @league.name
			%p
				= @league.season.show.name + ": "
				= @league.season.name
			#league-action-panel
				= render partial: "/shows/scoring_system"
				.btn.btn-default.btn-sm.disabled
					League locks on
					= @league.draft_deadline.strftime("%B %d")
					at
					= @league.draft_deadline.strftime("%I:%M %P %Z")
		- if @alert.present?
			.col-lg-4
				.alert#alert-panel.alert-dismissible{class: "#{@alert_class}", role: "alert"}
					%button.close{:type => "button", "data-dismiss" => "alert", "aria-label" => "Close"}
						%span.small{"aria-hidden" => true} &times;
					%p
						- @alert.each_with_index do |alert, i|
							%strong= @alert[i] if i == 0
							= @alert[i] unless i == 0
					- if @invite_button.length == 3
						%p= link_to "#{@invite_button[0]}", @invite_button[1], class: "#{@invite_button[2]}"
					- elsif @invite_button.length > 3
						%p= link_to "#{@invite_button[0]}", @invite_button[1], class: "#{@invite_button[2]}", action: "#{@invite_button[3]}", league_id: @invite_button[4], method: "#{@invite_button[5]}"
		- case @league.type
		- when "Elimination"
			.col-lg-12.col-md-12.col-sm-12
				= render partial: "leagues/elimination/ranking"
				- if @league.season.episode_count
					= render partial: "leagues/elimination/weekly_score"
		- when "Fantasy"
			.col-lg-12.col-md-12.col-sm-12
				= render partial: "leagues/fantasy/ranking"			
				- if @league.season.episode_count
					= render partial: "leagues/fantasy/weekly_score"

