- if flash[:notice] && flash[:color] == "valid"
	.alert.alert-success{:role => "alert"}= flash[:notice]
- elsif flash[:notice] && flash[:color] == "invalid"
	.alert.alert-warning{:role => "alert"}= flash[:notice]
.panel.panel-default#league_view
	.panel-heading
		.panel-title.row
			%span.col-lg-8
				- if @league.public_access == true
					%h3= @league.name + " (public)"
				- else
					%h3= @league.name  + " (private)"
				%p
					= @league.season.show.name + ": "
					= @league.season.name
				= render "/shows/scoring_system"
				- if @comm_this_league == true
					- if @participants.count <= 1
						= link_to "Invite Participants", league_invite_path(@league.id), id: "comm-one", class:"btn btn-default btn-primary btn-sm" 
					- else
						= link_to "Invite Participants", league_invite_path(@league.id), class:"btn btn-default btn-sm" 
					- if @league_deadline_set == false
						= link_to "Set Draft Deadline", "#", class:"btn btn-primary btn-sm" 
			%span.col-lg-4.text-right
				.dropdown
					%a{"data-toggle" => "dropdown", :href =>"#", class:"btn btn-default"} Actions
					%ul.dropdown-menu{:role => "menu", "aria-labelledby" => "dLabel"}
						%li HI
						%li HO
				.div
					%button.btn.btn-default.btn-sm{"data-target" => "#about_league", "data-toggle" => "collapse", :type => "button"}
						About Show
					- if @comm_this_league && @league.active?
						= link_to "Edit League", edit_league_path, class:"btn btn-default btn-sm" 
					- elsif @a_participant == false
						= button_to "Join League", rosters_path(@league.id), :action => "join", :league_id => @league.id, :method => :post, class:"btn btn-default"
				%br/
				.div
					%h6 League rules
					%h6
						- if @league.active?
							Commence date
						- else
							Concluded
					%h6 what else do you need
	.panel-body
		.col-lg-12
			%h3 Ranking
			%table.table.table-hover
				%thead
					%th Rank
					%th Participants
					%th Total Pts
					%th Roster
				%tbody
					- @participants_roster_total_sorted.each_with_index do |participant, i|
						%tr
							%td= i + 1
							%td= participant[0]
							%td= participant[1]
							%td
								- if User.where(username: participant[0]).first.id == @current_user.id
									= link_to "View", roster_path(@participants_roster_id[participant[0]]), class:"btn btn-primary btn-sm"
									- if @league.active?
										= link_to "Edit", edit_roster_path(@participants_roster_id[participant[0]]), class:"btn btn-primary btn-sm"
									- if @league.draft_deadline == nil
										= link_to "Leave League", roster_path(@participants_roster_id[participant[0]]), :action => "destroy", :method => "delete", :leave_league => @league.id, class:"btn btn-default btn-sm"			
								- else
									= link_to "View", roster_path(@participants_roster_id[participant[0]]), class:"btn btn-default btn-sm"
		/ .col-lg-6
		/ 	%h3 Live Score Update
		/ 	#event-update-board
		/ 		- if @season
		/ 			no
		/ 		- else
		/ 			.panel.panel-default
		/ 				.panel-body
		/ 					Nothing has happened yet.						
		- if @league.season.episode_count
			.col-lg-12
				%table.table.table-hover
					%h3 Weekly Score
					%thead
						%th Participants
						- @league.season.episode_count.times do |i|
							%th= i+1
						%th Total
					%tbody
						- @participants.each_with_index do |participant, index|
							%tr
								%td= participant.username
								- @league.season.episode_count.times do |i|
									- if @participants_roster_weekly[participant.username][:roster_rounds_id][i]
										%td= @participants_roster_weekly[participant.username][:roster_rounds_id][i][1]
									- else
										%td --
								%td= @participants_roster_total[participant.username]

