- if flash[:notice] && flash[:color] == "valid"
	.alert.alert-success{:role => "alert"}= flash[:notice]
- elsif flash[:notice] && flash[:color] == "invalid"
	.alert.alert-warning{:role => "alert"}= flash[:notice]
.panel.panel-default#league_view
	.panel-body
		.col-lg-12
			- if @league.public_access == true
				%h2= @league.name + " (public)"
			- else
				%h2= @league.name  + " (private)"
			%p
				= @league.season.show.name + ": "
				= @league.season.name
			= render "/shows/scoring_system"
			- if @comm_this_league == true
				- if @participants.count <= 1
					= link_to "Invite Participants", league_invite_path(@league.id), id: "comm-one", class:"btn btn-default btn-primary btn-sm" 
				- else
					= link_to "Invite Participants", league_invite_path(@league.id), class:"btn btn-default btn-sm" 
				- if @league.active?
					= link_to "Edit League", edit_league_path, class:"btn btn-default btn-sm" 
			- elsif @a_participant == false
				= button_to "Join League", rosters_path(@league.id), :action => "join", :league_id => @league.id, :method => :post, class:"btn btn-default"
	= render partial: "ranking"			
	- if @league.season.episode_count
		= render partial: "weekly_score"

