- if flash[:notice].present?
	.alert{class: "alert-#{ @alert[:type] }", role: "alert"}
		= @alert[:message]
- if @leagues.present?
	= render partial: "manage"
- else
	= render partial: "nav_league_access"
	= render partial: "matrix"