<% if flash[:notice] && flash[:color] == "valid" %>
	<div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% elsif flash[:notice] && flash[:color] == "invalid"%>
	<div class="alert alert-warning" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row text-center">
			<h2><%= @league.name %></h2>
			<h4><%= @league.show.name %></h4>
		</div>

		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<div id="user-widget">
					<%= link_to "Invite users", "/auth/facebook", id: "sign_in", class:'btn btn-primary btn-block', disabled:'disabled' %>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<h3>or</h3>
		</div>
		<div class="row text-center">
			<p>Copy and paste the below league key and password and share with friends!</p>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">League Key:</h3>
					</div>
					<div class="panel-body">
						<p><%= @league.league_key %></p> 
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">League Password:</h3>
					</div>
					<div class="panel-body">
						<p><%= @league.league_password %></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>