<h2>Search League</h2>
  
<%= form_tag leagues_search_path do %>
    <%= text_field_tag :search, params[:search] %>
		<%= submit_tag("Search", :class => "form_submit") %>
<% end %>  

<%= render partial: "public" %>
<%= render partial: "private" %>
