.panel.panel-default
	.panel-heading
		.panel-title.row
			%span.col-md-10
				%h3= @league.name
				%p= @league_season.name
			/ FIXME with jQuery
			- if @comm_this_league == true
				%span.col-offset-md-2
					%h4.small Commissioner
					= link_to"Edit League", edit_league_path, class:"btn btn-default"
			- elsif @a_participant == false
				= button_to "Join League", league_join_path(@league.id), :action => "join", :league_id => @league.id, :method => :post, class:"btn btn-default"
	.panel-body
		/ left column
		.media.col-md-4
			= link_to (content_tag(:img, nil, :src => @league.season.image, class:"media-object img-thumbnail")), season_path(@league_season.id)
			%br/
			.media-body
				%h4.media-heading= @league_season.name
				%p= @league_season.description
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur unde odio cumque autem totam enim debitis minima illo dicta corporis excepturi rem laborum voluptates deserunt eum minus, quod commodi accusamus.
			- if @league.public_access == true
				.row
					%span.col-md-6
						%h4.small This is a public league.
			- else
				.row
					%span.col-md-6
						%h4.small League Key:
						%span.btn.btn-default.disabled
							= @league.league_key
					%span.col-md-6
						%h4.small League Password:
						%span.btn.btn-default.disabled
							= @league.league_password
		/ right column
		.col-md-8
			%table.table.table-hover
				%h3 Ranking
				%thead
					%th Rank
					%th Participants
					%th Total Points
					%th Action
				%tbody
					- @participants_roster_total_sorted.each_with_index do |participant, i|
						%tr
							%td= i + 1
							%td= participant[0]
							%td= participant[1]
							%td
								- if User.where(username: participant[0]).first.id == @current_user.id
									= link_to "View Roster", roster_path(@participants_roster_id[participant[0]]), class:"btn btn-primary"
								- else
									= link_to "View Roster", roster_path(@participants_roster_id[participant[0]]), class:"btn btn-default"
			%table.table.table-hover
				%h3 Weekly Score
				%thead
					%th Participants
					- @league_season.episode_count.times do |i|
						%th= i+1
					%th Total
				%tbody
					- @participants.each_with_index do |participant, index|
						%tr
							%td= participant.username
							- @league_season.episode_count.times do |i|
								- if @participants_roster_weekly[participant.username][:roster_rounds_id][i]
									%td= @participants_roster_weekly[participant.username][:roster_rounds_id][i]
								- else
									%td --
							%td= @participants_roster_total[participant.username]







