<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title row">
			<span class="col-md-10">
				<h3><%= @league.name %></h3>
				<p><%= @league_season.name %></p>
			</span>

			<!-- FIXME with jQuery -->
			<% if @comm_this_league == true %>
				<span class="col-offset-md-2">
					<h4 class="small">Commissioner</h4>
					<%= link_to"Edit League", edit_league_path, class:"btn btn-default" %>
				</span>
			<% elsif @a_participant == false %>
				<%= button_to "Join League", league_join_path(@league.id), :action => "join", :league_id => @league.id, :method => :post, class:"btn btn-default" %>
			<% end %>

		</div>
	</div>
	<div class="panel-body">
		<!-- left column -->
		<div class="media col-md-4">
			<%= link_to (content_tag(:img, nil, :src => @league.season.image, class:"media-object img-thumbnail")), season_path(@league_season.id) %>
			<br>
			<div class="media-body">
				<h4 class="media-heading"><%= @league_season.name %></h4>
				<p><%= @league_season.description %></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur unde odio cumque autem totam enim debitis minima illo dicta corporis excepturi rem laborum voluptates deserunt eum minus, quod commodi accusamus.</p>
			</div>
			<% if @league.public_access == true %>
				<div class="row">
					<span class="col-md-6">
						<h4 class="small">This is a public league.</h4>
					</span>
				</div>
			<% else %>
				<div class="row">
					<span class="col-md-6">
						<h4 class="small">League Key: </h4>
						<span class="btn btn-default disabled">
							<%= @league.league_key %>
						</span> 
					</span>
					<span class="col-md-6">
						<h4 class="small">League Password: </h4>
						<span class="btn btn-default disabled">
							<%= @league.league_password %>		
						</span>	
					</span>
				</div>
			<% end %>
		</div>
		<!-- right column -->
		<div class="col-md-8">
			<table class="table table-hover">
				<h3>Ranking</h3>
				<thead>
					<th>Rank</th>
					<th>Participants</th>
					<th>Total Points</th>
					<th>Action</th>
				</thead>
				<tbody>
					<% @participants.each_with_index do |participant, i| %>
						<tr>
							<td><%= i + 1 %></td>
							<td><%= participant.username %></td>
							<td>130</td>
							<td>
								<% if participant.id == @current_user.id %>
									<%= link_to "View Roster", roster_path(@participants_roster_id[participant.username]), class:"btn btn-primary" %>
								<% else %>
									<%= link_to "View Roster", roster_path(@participants_roster_id[participant.username]), class:"btn btn-default" %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<table class="table table-hover">
				<h3>Weekly Score</h3>
				<thead>
					<th>Participants</th>
					<% @league_season.episode_count.times do |i| %>
						<th><%= i+1 %></th>
					<% end %>
					<th>Total</th>
				</thead>
				<tbody>
					<% @participants.each do |participant| %>
						<tr>
							<td><%= participant.username %></td>
							<td>200</td>
							<td>130</td>
							<td>100</td>
							<td>100</td>
							<td>100</td>
							<td>100</td>
							<td>100</td>
							<td>100</td>
							<td>100</td>
							<td>100</td>
							<td><%= %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>