.panel.panel-default
	.panel-heading
		.panel-title.row
			%span.col-lg-8
				- if @league.public_access == true
					%h3= @league.name + " (public)"
				- else
					%h3= @league.name  + " (private)"
				%p
					= @league.season.show.name
					= @league_season.name		
			%span.col-lg-4.text-right
				.div
					%button.btn.btn-default.btn-sm{"data-target" => "#about_league", "data-toggle" => "collapse", :type => "button"}
						About Show
					- if @comm_this_league == true
						- if @league.active == true 
							= link_to "Edit League", edit_league_path, class:"btn btn-default btn-sm" 
							.div
								- if @league.public_access == false
									%h4.small League Key:
									%span.btn.btn-default.disabled
										= @league.league_key
									%h4.small League Password:
									%span.btn.btn-default.disabled
										= @league.league_password
					- elsif @a_participant == false
						= button_to "Join League", league_join_path(@league.id), :action => "join", :league_id => @league.id, :method => :post, class:"btn btn-default"
				%br/
				.div
					%h6 League rules
					%h6 Commence date
					%h6 what else do you need
	.panel-body
		.col-lg-12
			%h3 Ranking
			%table.table.table-hover
				%thead
					%th Rank
					%th Participants
					%th Total Points
					%th Roster
				%tbody
					- @participants_roster_total_sorted.each_with_index do |participant, i|
						%tr
							%td= i + 1
							%td= participant[0]
							%td= participant[1]
							%td
								- if User.where(username: participant[0]).first.id == @current_user.id
									= link_to "View", roster_path(@participants_roster_id[participant[0]]), class:"btn btn-primary btn-sm"
									= link_to "Edit", edit_roster_path(@participants_roster_id[participant[0]]), class:"btn btn-primary btn-sm"
								- else
									= link_to "View", roster_path(@participants_roster_id[participant[0]]), class:"btn btn-default btn-sm"
			%table.table.table-hover
				%h3 Weekly Score
				%thead
					%th Participants
					- @league_season.episode_count.times do |i|
						%th= i+1
					%th Total
				%tbody
					- @participants.each_with_index do |participant, index|
						%tr
							%td= participant.username
							- @league_season.episode_count.times do |i|
								- if @participants_roster_weekly[participant.username][:roster_rounds_id][i]
									%td= @participants_roster_weekly[participant.username][:roster_rounds_id][i][1]
								- else
									%td --
							%td= @participants_roster_total[participant.username]







