.row
= form_for(:point_entry, :url => {:action => "create"}, :html => {:method => "post"}, class:"form-horizontal", :role => "form") do |f|
	/ Error Messages
	.row.form-group
		- if flash[:notice] && flash[:color] == "valid"
			.alert.alert-success{:role => "alert"}= flash[:notice]
		- elsif flash[:notice] && flash[:color] == "invalid"
			.alert.alert-warning{:role => "alert"}= flash[:notice]
		- elsif flash[:notice] && flash[:color] == "prohibited"
			.alert.alert-danger{:role => "alert"}
				%p= flash[:notice]
				- if @contestant.errors.any?
					%p
						= pluralize(@contestant.errors.count, "error")
						prohibited this contestant from being saved:
					%ul
						- @contestant.errors.full_messages.each do |message|
							%li= message
	/ End Error Messages
	/ Form Portion
	.row.form-group
		.col-lg-2= f.label :show_id
		.col-lg-5= f.select :show_select, options_for_select(Show.select_show, 'id'), {}, class:"form-control"
	.row.form-group
		.col-lg-2= f.label :season_id
		.col-lg-5= f.select :season_select, options_for_select(Season.select_season, 'id'), {}, class:"form-control"
	.row.form-group
		.col-lg-2= f.label :contestant_id
		.col-lg-5= f.select :contestant_select, options_for_select(Contestant.select_contestant, 'id'), {}, class:"form-control"
	.row.form-group
		.col-lg-2= f.label :episode_id
		.col-lg-5= f.select :episode_select, options_for_select(Episode.select_episode, 'id'), {}, class:"form-control"
	.row.form-group
		.col-lg-2= f.label :event_type
		.col-lg-5= f.select :event_type_select, options_for_select(Event.select_type), {}, class:"form-control"
	.row.form-group
		.col-lg-2= f.label :event_id
		.col-lg-5= f.select :event_select, options_for_select(Event.select_event, 'id'), {}, class:"form-control"
	.row.form-group
		.col-lg-2
		.col-lg-5
			= f.submit "Save New Point", class:"btn btn-primary btn-md"
			= link_to "Cancel", points_path, class:"btn btn-default btn-md"