#contestantBoard.col-lg-12
	%h3 
		Roster Board
	%h6
		.alert.nav-check{:class => @roster_status, :role => "alert", "data-roster-id" => @roster.id, "data-status" => "success", "data-roster-difference" => @roster_message[:contentCountDifference]}
			%span
				%strong= @roster_message[:contentHero]
			= @roster_message[:contentSupport][:a]
			= pluralize(@roster_message[:contentCountDifference], "contestant") if @roster_message[:contentCountDifference]
			= @roster_message[:contentSupport][:b]
			%strong
				= @roster_message[:contentDate]
			%br/
	- @contestants.each do |contestant|
		.contestants-panel.col-lg-2
			- if @selected_contestants.include? contestant
				.thumbnail.contestant-thumbnail.selected
					%img.full-res{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "selected-contestant"}/ 
					.veil
						%i.marker.glyphicon.glyphicon-ok
					.caption.selected-caption
						.contestant-name
							= contestant.name
					.action.selected.discard
						%i.glyphicon.glyphicon-remove{"data-contestant-id" => contestant.id, "data-roster-id" => @roster.id}
			- else
				.thumbnail.contestant-thumbnail.available
					%img.full-res{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "available-contestant"}/ 
					.veil
					.caption
						.contestant-name
							= contestant.name
					.action.available.pick
						%i.glyphicon.glyphicon-ok{"data-contestant-id" => contestant.id, "data-roster-id" => @roster.id}
	#saveRoster.col-lg-12
