- if @roster.league.type == "Fantasy"
	#rosterCountDisplay.col-lg-12
		%p #{ @roster.contestants.count } out of #{ @roster.league.draft_limit } contestants
	- @selected_contestants.each do |contestant|
		.col-lg-2
			.thumbnail.thumbnail-current-roster
				= image_tag contestant.image, {class: "remove", "data-contestant-id" => contestant.id, "data-roster-id" => @roster.id}
				.caption
					= contestant.name
					.pull-right
						%i.remove-button.glyphicon.glyphicon-remove{"data-contestant-id" => contestant.id, "data-roster-id" => @roster.id}
- elsif @roster.league.type == "Bracket"
	- @selected_contestants.each do |contestant|
		= contestant.name