.panel.panel-default
	.panel-heading
		.panel-title.row
			%span.col-md-10
				%h3= @roster.league.name
				%p= @roster.league.season.name
			%span
				%h4.small
					Deadline: #{@roster.league.season.premiere_date.strftime("%B %d")}
				= link_to "Save", roster_path(@roster.id), class:"btn btn-primary"
	.panel-body
		/ Roster Board
		.col-lg-8
			%h3 Your Roster
			#rosterBoard.row
				= render partial: "current_roster"
		/ END Roster Board
		/ Contestant Board
		#right-box.col-lg-4
			%h3 Available Contestants
			#contestantBoard.row
				= render partial: "current_available_contestants"
		/ END Contestant Board