<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title row">
			<span class="col-md-10">
				<h3><%= @roster.league.name %></h3>
				<p><%= @roster.league.show.name %></p>
			</span>
		</div>
		<!-- FIXME with jQuery -->
	</div>
	<div class="panel-body">
		<!-- Contestant Board -->
		<div class="col-sm-6 col-md-4" id="contestantBoard">
			<h3><%= @roster.league.show.name %></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta delectus dolorum sequi odio odit veritatis suscipit illum soluta iusto doloribus. Nisi distinctio odio modi, eius accusantium debitis quis aut in!</p>
			<h4>Available Contestants</h4>
			<% @available_contestants.each do |contestant| %>
				<div class="col-md-5">
					<div class="thumbnail">
						<i class="add-button fa fa-plus" data-contestant-id="<%= contestant.id %>" data-league-id="<%= @roster.league.id %>" data-roster-id="<%= @roster.id %>"></i>
						<%= image_tag contestant.image %>
						<div class="caption">
							<%= contestant.name %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<!-- END Contestant Board -->
		<!-- Roster Board -->
		<div class="col-sm-6 col-md-8">
			<h3>Your Roster</h3>
			<div class="row" id="rosterBoard">
				<%= render partial: "current_roster" %>
			</div>
			<div class="row" id="box">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odit eius non, ratione ducimus magni consequatur eum quae quia quam itaque hic id provident obcaecati soluta fugiat doloribus ab aliquam?</p>
			</div>
		</div>
		<!-- END Roster Board -->
	</div>
</div>

<script>
	// set up the contestantBoard and rosterBoard
	$contestantBoard = $('#contestantBoard');
	$rosterBoard = $('#rosterBoard');

	var addContestantToRoster = function (contestantId, rosterId) {
		$.ajax({
			url: '/rosters/' + rosterId + "/add" + "/" + contestantId,
			type: 'POST',
			success: function(msg) {
				var partial = msg;
				$rosterBoard.html(partial);
			}
		});
	};

	var removeContestantFromRoster = function (contestantId, rosterId) {
		$.ajax({
			url: '/rosters/' + rosterId + "/remove" + "/" + contestantId,
			type: 'POST',
			success: function(msg) {
				var partial = msg;
				$rosterBoard.html(partial);
			}
		});
	};

	var thumbnailFactory = function (operation, contestantId, rosterId) {
		if (operation == 'add') {
			var $canvas = $rosterBoard;
			var operation = operation;
			var oppositeIcon = 'times';											// turn + to X, opposite because the re-redered 
			var oppositeOperation = 'remove'; 							// element does different thing
			var thumbnailColumnSize = 'col-md-3';
			var thumbnailClass = 'thumbnail';
		} else if (operation == 'remove') {
			var $canvas = $contestantBoard;
			var operation = operation;
			var oppositeIcon = 'plus';											// turn X to +, opposite because the re-redered 
			var oppositeOperation = 'remove'; 							// element does different thing
			var thumbnailColumnSize = 'col-md-3';
			var thumbnailClass = 'thumbnail';	
			console.log('im deleting');
		};
		var $newThumbnail = $('<div>');										// Making the outermost div thumbnail
		$newThumbnail.addClass('col-md-3');
		var $secondLayer = $('<div>');										// Second layer def with .thumbnail
		$secondLayer.addClass('thumbnail');	
		var $thirdLayer = $('<i></i>');										// Third layer where the <i> lives
		$thirdLayer.addClass(															//  - adding class to populate icon
			oppositeOperation + 
			'-button fa fa-' + 
			oppositeIcon);						
		jQuery.data($thirdLayer, 'contestantId', contestantId); // FIXME to be dynamic
		console.log("hi");
		addContestantToRoster(contestantId, rosterId)
		$thirdLayer.appendTo($secondLayer);						// + append to layer 2, first item
		var $contestantImage = $('<img>');								//	Image for contestant pic
		$contestantImage.appendTo($secondLayer); 			// + append to layer 2, second item
		var $caption = $('<div>');												// Caption for contestant name
		$caption.text('Contestant Name');  			//FIXME to be dynamic
		$caption.appendTo($secondLayer);							// + append to layer 2, thrid item		
		$secondLayer.appendTo($newThumbnail);					// + append to outermost thumbnail
		console.log('i created something');
		$newThumbnail.appendTo($canvas);
	};

	$(function () {
		console.log('Initialized');

		// clicking add-button for available_contestants
		$('.add-button').on('click', function() {
			var $clickedElement = $(this);
			$contestantId = $clickedElement.data().contestantId;
			$rosterId = $clickedElement.data().rosterId;
			thumbnailFactory('add', $contestantId, $rosterId);
			$(this).closest('div.col-md-5').remove();
		});

		// clicking remove-button	for selected_contestants
		$('.remove-button').on('click', function() {
			var $clickedElement = $(this);
			$contestantId = $clickedElement.data().contestantId;
			$rosterId = $clickedElement.data().rosterId;
			thumbnailFactory('remove', $contestantId, $rosterId);
			// $(this).closest('div.thumbnail').remove();
		});

	});

</script>














