.panel.panel-default
	.panel-body
		.col-md-10.col-lg-10
			%h3= @roster.league.name
			%p
				= @roster.league.season.show.name + ": "
				= @roster.league.season.name
			%p 
		.col-lg-2.text-right
			%h4.small
				Deadline: #{@roster.league.season.premiere_date.strftime("%B %d")}
			%p.small
				League Limit: #{ @roster.league.draft_limit } contestants
	.panel-body
		/ Contestant Board
		#contestantBoard.col-lg-12
			- if @league.type == "Fantasy"
				= render partial: "rosters/fantasy/current_roster"
			- elsif @league.type == "Bracket"
				= render partial: "rosters/bracket/current_bracket"
		/ END Contestant Board