.panel.panel-default
	.panel-body
		.col-md-10.col-lg-10
			%h3= @roster.league.name
			%p
				= @roster.league.season.show.name + ": "
				= @roster.league.season.name
		.col-lg-2.text-right
			= link_to "Save Roster", roster_path(@roster.id), class:"btn btn-primary btn-sm"
			%h4.small
				Deadline: #{@roster.league.season.premiere_date.strftime("%B %d")}
	.panel-body
		/ Roster Board
		.col-lg-8
			%h3 Your Roster
			%p Limit to roster is #{@roster.league.draft_limit}
			#rosterBoard.row
				= render partial: "current_roster"
		/ END Roster Board
		/ Contestant Board
		#right-box.col-lg-4
			%h3 Available Contestants
			#contestantBoard.row
				= render partial: "current_available_contestants"
		/ END Contestant Board