<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title row">
			<span class="col-md-10">
				<h3><%= @roster.league.name %></h3>
				<p><%= @roster.league.show.name %></p>
			</span>
		</div>
		<!-- FIXME with jQuery -->
	</div>
	<div class="panel-body">
		<!-- Contestant Board -->
		<div class="col-sm-6 col-md-4" id="contestantBoard">
			<h3><%= @roster.league.show.name %></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta delectus dolorum sequi odio odit veritatis suscipit illum soluta iusto doloribus. Nisi distinctio odio modi, eius accusantium debitis quis aut in!</p>
			<h4>Available Contestants</h4>
			<% @available_contestants.each do |contestant| %>
				<div class="col-md-5">
					<div class="thumbnail">
						<i class="add-button fa fa-plus" data-contestant-id="<%= contestant.id %>"></i>
						<%= image_tag contestant.image %>
						<div class="caption">
							<%= contestant.name %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<!-- END Contestant Board -->
		<!-- Roster Board -->
		<div class="col-sm-6 col-md-8">
			<h3>Your Roster</h3>
			<div class="row" id="rosterBoard">
					<% @selected_contestants.each do |contestant| %>
						<div class="col-md-3">
							<div class="thumbnail">
								<i class="remove-button fa fa-times" data-contestant-id="<%= contestant.id %>"></i>
								<%= image_tag contestant.image %>
								<div class="caption">
									<%= contestant.name %>
								</div>
							</div>
						</div>
					<% end %>
			</div>
			<div class="row" id="box">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odit eius non, ratione ducimus magni consequatur eum quae quia quam itaque hic id provident obcaecati soluta fugiat doloribus ab aliquam?</p>
			</div>
		</div>
		<!-- END Roster Board -->
	</div>
</div>

<script>
	$box = $('#box');
	$contestantBoard = $('#contestantBoard');
	$rosterBoard = $('#rosterBoard');

	var thumbnailFactory = function (canvas, operation, icon, contestant_id) {
		var $newThumbnail = $('<div>');										// Making the outermost div thumbnail
		$newThumbnail.addClass('col-md-3');
		var $secondLayer = $('<div>');										// Second layer def with .thumbnail
		$secondLayer.addClass('thumbnail');	
		var $thirdLayer = $('<i></i>');										// Third layer where the <i> lives
		$thirdLayer.addClass(															//  - adding class to populate icon
			operation + 
			'-button fa fa-' + 
			icon);						
		jQuery.data($thirdLayer, 'contestantId', 3); // FIXME to be dynamic
		$thirdLayer.appendTo($secondLayer);						// + append to layer 2, first item
		var $contestantImage = $('<img>');								//	Image for contestant pic
		$contestantImage.appendTo($secondLayer); 			// + append to layer 2, second item
		var $caption = $('<div>');												// Caption for contestant name
		$caption.text('Contestant Name');  			//FIXME to be dynamic
		$caption.appendTo($secondLayer);							// + append to layer 2, thrid item		
		$secondLayer.appendTo($newThumbnail);					// + append to outermost thumbnail
		console.log('i created something');
		$newThumbnail.appendTo($rosterBoard);
	};

	$(function () {

		// set up the contestantBoard and rosterBoard
		var $contestantBoard = $('#contestantBoard'),
				$rosterBoard = $('#rosterBoard');
		console.log('Initialized');

		// clicking add-button for available_contestants
		$('.add-button').on('click', function() {
			console.log('i want to add ' + $(this).data('contestant-id'));
			$(this).css('color', 'red');
			thumbnailFactory($box, 'add', 'plus', 2); //FIXME to be dynamic
			console.log('end round');
			$(this).closest('div.col-md-5').remove();
		});
		// clicking remove-button	for selected_contestants
		$('.remove-button').on('click', function() {
			console.log('i want to delete ' + $(this).data('contestant-id'));
			$rosterBoard.children('.thumbnail').remove();
			$(this).closest('div.thumbnail').remove();
			console.log('end round');
		});

	});

</script>














