<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title row">
			<span class="col-md-10">
				<h3><%= @roster.league.name %></h3>
				<p><%= @roster.league.show.name %></p>
			</span>
		</div>
		<!-- FIXME with jQuery -->
	</div>
	<div class="panel-body">
		<!-- Contestant Board -->
		<div class="col-sm-6 col-md-4" id="right-box">
			<h3><%= @roster.league.show.name %></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta delectus dolorum sequi odio odit veritatis suscipit illum soluta iusto doloribus. Nisi distinctio odio modi, eius accusantium debitis quis aut in!</p>
			<h4>Available Contestants</h4>
			<div class="row", id="contestantBoard">
				<%= render partial: "current_available_contestants" %>
			</div>
		</div>
		<!-- END Contestant Board -->
		<!-- Roster Board -->
		<div class="col-sm-6 col-md-8">
			<h3>Your Roster</h3>
			<div class="row" id="rosterBoard">
				<%= render partial: "current_roster" %>
			</div>
			<div class="row" id="left-box">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odit eius non, ratione ducimus magni consequatur eum quae quia quam itaque hic id provident obcaecati soluta fugiat doloribus ab aliquam?</p>
			</div>
		</div>
		<!-- END Roster Board -->
	</div>
</div>

<script>
	// set up the contestantBoard and rosterBoard
	$contestantBoard = $('#contestantBoard');
	$rosterBoard = $('#rosterBoard');

	var addContestantToRoster = function (contestantId, rosterId) {
		$.ajax({
			url: '/rosters/' + rosterId + "/add" + "/" + contestantId,
			type: 'POST',
			success: function(msg) {
				var partial = msg;
				$rosterBoard.html(partial);
			}
		});
	};

	var removeContestantFromRoster = function (contestantId, rosterId) {
		$.ajax({
			url: '/rosters/' + rosterId + "/remove" + "/" + contestantId,
			type: 'POST',
			success: function(msg) {
				var partial = msg;
				$contestantBoard.html(partial);
			}
		});
	};

	var thumbnailFactory = function (operation, contestantId, rosterId) {
		if (operation == 'add') {
			addContestantToRoster(contestantId, rosterId);
		} else if (operation == 'remove') {
			removeContestantFromRoster(contestantId, rosterId);
		};

		console.log('finished');
	};

	$(function () {
		console.log('Initialized');

		// clicking add-button for available_contestants
		$('.add-button').on('click', function() {
			var operation = 'add'
			var $clickedElement = $(this);
			$contestantId = $clickedElement.data().contestantId;
			$rosterId = $clickedElement.data().rosterId;
			thumbnailFactory(operation, $contestantId, $rosterId);
			$(this).closest('div.col-md-5').remove();
		});

		// clicking remove-button	for selected_contestants
		$('.remove-button').on('click', function() {
			var operation = 'remove'
			var $clickedElement = $(this);
			$contestantId = $clickedElement.data().contestantId;
			$rosterId = $clickedElement.data().rosterId;
			thumbnailFactory(operation, $contestantId, $rosterId);
			$(this).closest('div.col-md-3').remove();
		});
	});

</script>














