<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title row">
			<span class="col-md-10">
				<h3><%= @roster.league.name %></h3>
				<p><%= @roster.league.season.name %></p>
			</span>
			<span>
					<h4 class="small">Deadline: <%= @roster.league.season.premiere_date.strftime("%B %d") %></h4>
					<%= link_to "Save", roster_path(@roster.id), class:"btn btn-primary" %>
			</span>
		</div>
		<!-- FIXME with jQuery -->
	</div>
	<div class="panel-body">
		<!-- Contestant Board -->
		<div class="col-sm-6 col-md-4" id="right-box">
			<h3><%= @roster.league.season.name %></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta delectus dolorum sequi odio odit veritatis suscipit illum soluta iusto doloribus. Nisi distinctio odio modi, eius accusantium debitis quis aut in!</p>
			<h4>Available Contestants</h4>
			<div class="row", id="contestantBoard">
				<%= render partial: "current_available_contestants" %>
			</div>
		</div>
		<!-- END Contestant Board -->
		<!-- Roster Board -->
		<div class="col-sm-6 col-md-8">
			<h3>Your Roster</h3>
			<div class="row" id="rosterBoard">
				<%= render partial: "current_roster" %>
			</div>
			<div class="row" id="left-box">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odit eius non, ratione ducimus magni consequatur eum quae quia quam itaque hic id provident obcaecati soluta fugiat doloribus ab aliquam?</p>
			</div>
		</div>
		<!-- END Roster Board -->
	</div>
</div>














