<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
				<h3><%= @roster.league.name %></h3>
				<p><%= @roster.league.show.name %></p>
				<%= link_to "Edit Roster", edit_roster_path(@roster.id), class:"btn btn-default" %>
		</div>
		<!-- FIXME with jQuery -->
	</div>
	<div class="panel-body">
		<!-- Contestant Board -->
		<div class="col-sm-6 col-md-4" id="contestantBoard">
			<h3><%= @roster.league.show.name %></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta delectus dolorum sequi odio odit veritatis suscipit illum soluta iusto doloribus. Nisi distinctio odio modi, eius accusantium debitis quis aut in!</p>
			<h4>Available Contestants</h4>
			<% @available_contestants.each do |contestant| %>
				<div class="col-md-5">
					<div class="thumbnail">
						<i class="add-button fa fa-plus" data-contestant-id="<%= contestant.id %>"></i>
						<%= image_tag contestant.image %>
						<div class="caption">
							<%= contestant.name %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<!-- END Contestant Board -->
		<!-- Roster Board -->
		<div class="col-sm-6 col-md-8" id="rosterBoard">
			<h3>Your Roster</h3>
			<div class="row">
					<% @selected_contestants.each do |contestant| %>
						<div class="col-md-3">
							<div class="thumbnail">
								<i class="remove-button fa fa-times" data-contestant-id="<%= contestant.id %>"></i>
								<%= image_tag contestant.image %>
								<div class="caption">
									<%= contestant.name %>
								</div>
							</div>
						</div>
					<% end %>
			</div>
			<div class="row" id="box">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odit eius non, ratione ducimus magni consequatur eum quae quia quam itaque hic id provident obcaecati soluta fugiat doloribus ab aliquam?</p>
			</div>
		</div>
		<!-- END Roster Board -->
	</div>
</div>

<script>
	$box = $('#box');

	var thumbnailFactory = function (canvas, contestant_id) {
		var $newThumbnail = $('<div>');
		$newThumbnail.addClass('col-md-5');
		
		$newThumbnail.text('I got this');
		console.log('i created something');
		$newThumbnail.appendTo($box);
	};

	$(function () {

		// set up the contestantBoard and rosterBoard
		var $contestantBoard = $('#contestantBoard'),
				$rosterBoard = $('#rosterBoard');
		console.log('Initialized');

		// clicking add-button for available_contestants
		$('.add-button').on('click', function() {
			console.log('i want to add ' + $(this).data('contestant-id'));
			$(this).css('color', 'red');
			thumbnailFactory($box, 2);
			console.log('end round');
			debugger
		});
		// clicking remove-button	for selected_contestants
		$('.remove-button').on('click', function() {
			console.log('i want to delete ' + $(this).data('contestant-id'));
			$rosterBoard.children('.thumbnail').remove();
			$(this).closest('div.thumbnail').remove();
			console.log('end round');
		});

	});

</script>














