<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title row">
			<span class="col-md-9">
				<h3><%= @roster.league.name %></h3>
				<p><%= @roster.league.show.name %></p>
			</span>
			<span>
				<% if @roster.user_id == @current_user.id %>
					<h4 class="small">Deadline: <%= @roster.league.show.premiere_date.strftime("%B %d") %></h4>
					<%= link_to "Edit roster", edit_roster_path(@roster.id), class:"btn btn-primary" %>
				<% else %>
					<h4 class="small"><%= @roster.user.username %></h4>
				<% end %>
				<%= link_to "Back to league", league_path(@roster.league.id), class:"btn btn-default" %>
			</span>
		</div>
		<!-- FIXME with jQuery -->
	</div>
	<div class="panel-body">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table class="table table-hover" id="rosterScoreBoard">
				<h3>Weekly Score</h3>
				<thead>
					<th class="col-md-2">Contestants</th>
					<% @roster.league.show.episode_count.times do |i| %>
						<th class="col-md-1"><%= i+1 %></th>
					<% end %>
					<th class="col-md-1">Total</th>
				</thead>
				<tbody>
					<% @roster.contestants.order(name: :asc).each do |contestant| %>
						<tr>
							<td><%= contestant.name %></td>	
							<% @roster.league.show.episodes.each do |episode| %>
								<td><%= contestant.calculate_points_per_episode(episode.id) %></td>
							<% end %>
							<% if @roster.league.show.episodes.count < @roster.league.show.episode_count %>
								<!-- FIXME! -->
								<% @roster.league.show.episode_count.times do |i| %>
									<td>-</td>
								<% end %>
							<% end %>
							<td><%= contestant.calculate_total_points %></td>
						</tr>
					<% end %>
					<tr>
						<td></td>
						<% @roster.league.show.episode_count.times do |i| %>
							<td></td>
						<% end %>
						<td><%= @roster.calculate_total_roster_points %></td>
					</tr> 	
				</tbody>
			</table>
		</div>
		<!-- Contestant Board -->
		<div class="col-xs-12 col-sm-3 col-md-4" id="contestantBoard">
			<h3>Available Contestants</h3>
			<% @available_contestants.each do |contestant| %>
				<div class="col-xs-3 col-sm-6 col-md-5">
					<div class="thumbnail thumbnail-available-contestants">
						<%= image_tag contestant.image %>
						<div class="caption">
							<%= contestant.name %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<!-- END Contestant Board -->
		<!-- Roster Board -->
		<div class="col-xs-12 col-sm-9 col-md-8">
			<div class="row">
				<% if @roster.user_id == @current_user.id %>
					<h3>Your Roster</h3>
				<% else %>
					<h3>Roster Contestants</h3>
				<% end %>
			</div>
			<br>
			<div class="row" id="rosterBoard">
					<% @selected_contestants.each do |contestant| %>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="thumbnail thumbnail-current-roster">
								<%= image_tag contestant.image %>
								<div class="caption">
									<%= contestant.name %>
								</div>
							</div>
						</div>
					<% end %>
			</div>
			<div class="row" id="box">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odit eius non, ratione ducimus magni consequatur eum quae quia quam itaque hic id provident obcaecati soluta fugiat doloribus ab aliquam?</p>
			</div>
		</div>
		<!-- END Roster Board -->
	</div>
</div>