<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title row">
			<span class="col-md-10">
				<h3><%= @roster.league.name %></h3>
				<p><%= @roster.league.show.name %></p>
			</span>
			<% if @roster.user_id == @current_user.id %>
				<span>
					<h4 class="small">Deadline: <%= @roster.league.show.premiere_date.strftime("%B %d") %></h4>
					<%= link_to "Edit Roster", edit_roster_path(@roster.id), class:"btn btn-primary" %>
				</span>
			<% end %>
		</div>
		<!-- FIXME with jQuery -->
	</div>
	<div class="panel-body">
		<!-- Contestant Board -->
		<div class="col-xs-12 col-sm-3 col-md-4" id="contestantBoard">
			<h3><%= @roster.league.show.name %></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta delectus dolorum sequi odio odit veritatis suscipit illum soluta iusto doloribus. Nisi distinctio odio modi, eius accusantium debitis quis aut in!</p>
			<h4>Available Contestants</h4>
			<% @available_contestants.each do |contestant| %>
				<div class="col-xs-3 col-sm-6 col-md-5">
					<div class="thumbnail thumbnail-available-contestants">
						<%= image_tag contestant.image %>
						<div class="caption">
							<%= contestant.name %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<!-- END Contestant Board -->
		<!-- Roster Board -->
		<div class="col-xs-12 col-sm-9 col-md-8">
			<div class="row">
				<h3>Your Roster</h3>
			</div>
			<br>
			<div class="row" id="rosterBoard">
					<% @selected_contestants.each do |contestant| %>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="thumbnail thumbnail-current-roster">
								<%= image_tag contestant.image %>
								<div class="caption">
									<%= contestant.name %>
								</div>
							</div>
						</div>
					<% end %>
			</div>
			<div class="row" id="box">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odit eius non, ratione ducimus magni consequatur eum quae quia quam itaque hic id provident obcaecati soluta fugiat doloribus ab aliquam?</p>
			</div>
		</div>
		<!-- END Roster Board -->
	</div>
</div>