.col-lg-6.col-md-6
	%table.table-hover
		%theader
			%th
			%th Contestant Name
		= form_for(@status, class: "form-horizontal", role: "form") do |f|
			.row.form-group
				- if flash[:notice]
					.alert{class: flash[:color], role: "alert"}
						%p= flash[:notice]
						- if @contestant.errors.any?
							%p
								= pluralize(@contestant.errors.count, "error")
								prohibited this contestant from being saved:
							%ul
								- @contestant.errors.full_messages.each do |message|
									%li= message
			- @all_contestants.each do |contestant|
				%tbody
					%tr
						%td= f.select_field :selected
						%td= contestant.name