#events-display-box.panel.panel-default
	.panel-heading
		%h4#panel-title-dynamic.panel-title
			= @show.name
	.panel-body
		.row
			.col-lg-12
				%table.table.table-hover.events-table
					%thead
						%th.col-lg-2{"data-field" => "type", "data-sortable" => "true"} Type
						%th.col-lg-6{"data-field" => "event", "data-sortable" => "true"} Event
						%th.col-lg-1{"data-field" => "points_asgn", "data-sortable" => "true"} Points
						%th.col-lg-3 Actions
					%tbody
						- @events.each do |event|
							%tr
								%td
									%span{"data-name" => "type", "data-pk" => event.id}= event.type
								%td
									%span{"data-name" => "event", "data-pk" => event.id}= event.event
								%td
									%span{"data-name" => "points_asgn", "data-pk" => event.id}= event.points_asgn
								%td
									= button_tag("Edit", class:"btn btn-sm btn-default edit")
									= button_tag("Save", class:"btn btn-sm btn-primary save")
									= button_tag("Delete", class:"btn btn-sm btn-danger destroy")