%h4= @show.name if @show
%table.table.table-hover
	%thead
		%th.col-lg-2{"data-field" => "type", "data-sortable" => "true"} Type
		%th.col-lg-6{"data-field" => "event", "data-sortable" => "true"} Event
		%th.col-lg-1{"data-field" => "points_asgn", "data-sortable" => "true"} Points
		%th.col-lg-3 Actions
	- if @schemes
		%tbody
			- @schemes.each do |scheme|
				%tr
					%td
						%span{"data-name" => "type", "data-pk" => scheme.id}= scheme.type
					%td
						%span{"data-name" => "description", "data-pk" => scheme.id}= scheme.description
					%td
						%span{"data-name" => "points_asgn", "data-pk" => scheme.id}= scheme.points_asgn
					%td
						= button_tag("Edit", class:"btn btn-xs btn-default edit")
						= button_tag("Save", class:"btn btn-xs btn-default save")
						= button_tag("Delete", class:"btn btn-xs btn-default destroy")