%h4= @form_header
= form_for(@scheme, remote: true) do |f|
	#form_alert
	.form-group.field#scheme_form_type
		= f.label :type
		%br/
		= select_tag :type, options_for_select(Scheme.select_type), {name: "type_select", id: "scheme_type_dropdown", class: "form-control", placeholder: "Select a type"}
		#scheme_type_value_area
			= f.text_field :type, placeholder: "Input new scheme type", name: "type_text", id: "scheme_type_input", class: "form-control hidden"
			%p.well.well-sm#scheme_type_value{style: "display:none"}
				Hihi
	.form-group.field
		= f.label :description
		%br/
		#scheme_description_value_area
			= f.text_area :description,  name: "scheme[description]", id: "scheme_description_input", class: "form-control"
			%p.well.well-sm#scheme_description_value{style: "display:none"}
				Hihi
	.form-group.field
		= f.label :points_asgn, "Points assignment"
		%br/
		#scheme_points_asgn_value_area
			= f.number_field :points_asgn, name: "scheme[points_asgn]", id: "scheme_points_asgn_input", class: "form-control", placeholder: 0
			%p.well.well-sm#scheme_points_asgn_value{style: "display:none"}
				Hihi
	.form-group.field
		.col-lg-12#scheme_shows
			.row
				= label_tag :scheme_shows, "Shows"
			.row#shows_list
				- @shows.each do |show|
					= check_box_tag :scheme_shows, show.id, false, {class: "checkbox_show", "data-scheme-id" => @scheme.id, "data-show-id" => show.id}
					= show.name
					%br/
			.row
				%br/
	.form-group
		.actions
			.btn.btn-md.btn-default.submit-btn{type: "button", name: "create", method: "POST", action: :create, id: "new_scheme_submit"} Create scheme
			.btn.btn-md.btn-default.update-btn{type: "button", name: "update", method: "PATCH", action: :update, id: "update_scheme_submit", style: "display:none"} Update scheme
			.btn.btn-md.btn-default.cancel-btn{type: "button", name: "cancel", method: "GET", action: :cancel, id: "clear_scheme_form"} Cancel