%h4 Scheme
= form_for(@scheme) do |f|
	- if @scheme.errors.any?
		#error_explanation
			%h2
				= pluralize(@scheme.errors.count, "error")
				prohibited this score from being saved:
			%ul
				- @scheme.errors.full_messages.each do |message|
					%li= message
	.form-group.field
		= f.label :type
		%br/
		= f.select(:type, options_for_select(Scheme.select_type), {}, {class:"form-control"})
	.form-group.field
		= f.label :description
		%br/
		= f.text_area :description, class:"form-control"
	.form-group.field
		= f.label :points_asgn, "Points assignment"
		%br/
		= f.number_field :points_asgn, class:"form-control", :placeholder => 0
	.actions
		%br/
		= f.submit "Add new scheme", class:"btn btn-block btn-default", :id => "new-scheme-submit"