.panel
	.panel-body
		.col-lg-12
			= render partial: "all_shows"
			%h1 Live Tracking
			= link_to("Events", events_path)
			%h1 All Leagues
			- @leagues.each do |league|
				%p
					= league.name
			%h1 All Users
			%table
				%tbody
					%tr
						%td User Count
						%td 
							= @users.count
					%tr
						%td Active Users
						%td ??
					%tr
						%td Avg. league/user
						%td ??
			%table.table.table-hover
				%thead
					%tr
						%th Username
						%th Email
						%th Joined On
						%th Last Updated
				%tbody
					- @users.each do |user|
						%tr
							%td
								= user.username
							%td
								= user.email
							%td
								= user.created_at
							%td 
								= user.updated_at