.panel.panel-default
	.panel-heading
		.panel-title.row
			.col-lg-10
				%h2 Manage Seasons
			.col-lg-2.text-right
				= link_to "Add New Season", new_season_path, class:"btn btn-default btn-sm"
	.panel-body
		%table.table.table-hover
			/ Error Messages
			.row.form-group
				- if flash[:notice] && flash[:color] == "valid"
					.alert.alert-success{:role => "alert"}= flash[:notice]
				- elsif flash[:notice] && flash[:color] == "invalid"
					.alert.alert-warning{:role => "alert"}= flash[:notice]
				- elsif flash[:notice] && flash[:color] == "prohibited"
					.alert.alert-danger{:role => "alert"}= flash[:notice]
			/ End Error Messages
			%h4 
				Current 
				= pluralize_without_count(@current_seasons.count, "Season", text = nil)
			%thead
				%tr
					%th.col-sm-3 Season Name
					/ column 1
					%th.col-sm-1 Status
					/ column 2
					%th.col-sm-1 Premiere
					/ column 3
					%th.col-sm-1 Finale
					%th.col-sm-1 Actions
					/ column 4
					%th.col-sm-1 
					%th.col-sm-1 Events
					/ column 6
					%th.col-sm-1 Contestants
					/ column 7
			%tbody
				- @current_seasons.each do |season|
					%tr
						/ column 1
						%td
							= link_to "#{season.show.name}: #{season.name}", season_path(season.id)
							%br/
							%p #{ season.episodes.count } out of #{ season.episode_count } episodes recorded.
						/ column 2
						%td
							- if season.premiere_date.past?
								Commenced
							- elsif season.published? == false
								Unpublished
							- else
								Draft Open
						%td= season.premiere_date.strftime("%D")
						/ column 3
						%td= season.finale_date.strftime("%D")
						%td
							= link_to "View", season_path(season.id), class:"btn btn-xs btn-default btn-block"
							= link_to "Edit", edit_season_path(season.id), class:"btn btn-xs btn-default btn-block"
							= link_to "Delete", season_path(season.id), :method => "delete", :action => "destroy", :data => {:confirm => "Are you sure you want to delete this season?"}, class:"btn btn-xs btn-default btn-block"
						%td
							- if season.published? 
								= link_to "Unpublish", unpublish_season_path(season.id), :method => "patch", :data => {:confirm => "Are you sure you want to unpublish this season?"}, class:"btn btn-xs btn-default btn-block"
							- else
								= link_to "Publish", publish_season_path(season.id), :method => "patch", class:"btn btn-xs btn-primary btn-block"
						%td 
							= link_to "Track", edit_season_path(season.id), class:"btn btn-xs btn-default btn-block"
							= link_to "View", season_path(season.id), class:"btn btn-xs btn-default btn-block"
						%td
							= link_to "Add", new_contestant_path(season.id), class:"btn btn-default btn-xs btn-block"
							= link_to "View", contestants_season_path(season.id), class:"btn btn-xs btn-default btn-block"
							= link_to "Edit", contestants_season_path(season.id), class:"btn btn-default btn-xs btn-block"
	.panel-body
		%table.table.table-hover
			%h4 
				Past 
				= pluralize_without_count(@past_seasons.count, "Season", text = nil)
			%thead
				%tr
					/ column 1
					%th.col-sm-3 Season Name
					/ column 2
					%th.col-sm-1 Status
					/ column 3
					%th.col-sm-1 Premiered
					/ column 4
					%th.col-sm-1 Finale Date
					/ column 5
					%th.col-sm-3 Actions
					/ column 6
					%th.col-sm-3 Statistics
			%tbody
				- @past_seasons.each do |season|
					%tr
						/ column 1
						%td
							= link_to "#{season.show.name}: #{season.name}", season_path(season.id)
						/ column 2
						%td
							- if season.expired == true
								Completed
							- else
								- if season.premiere_date < @current_date
									Commenced
								- elsif season.published? == false
									Unpublished
								- else
									Draft Open
						/ column 3
						%td= season.premiere_date.strftime("%D")
						/ column 4
						%td= season.finale_date.strftime("%D")
						/ column 5
						%td
							= link_to "View", season_path(season.id), class:"btn btn-sm btn-default"
							= link_to "Contestants", contestants_season_path(season.id), class:"btn btn-sm btn-default"
						%td