<p id="notice"><%= notice %></p>

<p>
  <strong>Round:</strong>
  <%= @score.round_id %>
</p>

<p>
  <strong>Contestant:</strong>
  <%= @score.contestant_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @score.event %>
</p>

<p>
  <strong>Points:</strong>
  <%= @score.points %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
