.row
	.col-lg-12
		%h4 
			Contestant Pool
		/ %h6
		/ 	Add selected contestant to all rounds
		/ 	.btn-group.btn-toggle.disabled
		/ 		.btn.btn-xs.btn-default On
		/ 		.btn.btn-xs.btn-primary.active Off
	.col-lg-12
		- @available_contestants.each do |contestant|
			.contestants-pool
				.thumbnail.contestant-thumbnail
					%img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "contestant.id"}/ 
					/ %img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "nonselected-contestant"}/ 
					.caption
						.contestant-name
							= contestant.name
						.action
							%i.add-round.glyphicon.glyphicon-plus{"data-contestant-id" => contestant.id}