- @rounds_collection.each_with_index do |round, i|

	.row.round-display{"id" => round.id, "data-round-id" => round.id}
		.col-lg-12#round-navigation
			.progress-container
				Loading...
				.progress
					.progress-bar.progress-bar-success.progress-bar-striped{:role => "progressbar", "aria-valuenow" => 40, "aria-volumein" => 0, "ariavaluemax" => 100, "style" => "width: 40%"}
						%span.sr-only 40% Complete
			%h4
				Round #{i + 1}:
				- if round == @rounds_collection.first || round == @upcoming_rounds[0]
					.btn.btn-default.btn-xs.round-toggle.previous-button.disabled{"data-round-id" => @rounds_collection[i-1].id}
						Previous
					.btn.btn-default.btn-xs.round-toggle.next-button{"data-round-id" => @rounds_collection[i+1].id}
						Next			
				- elsif round == @rounds_collection.last
					.btn.btn-default.btn-xs.round-toggle.previous-button{"data-round-id" => @rounds_collection[i-1].id}
						Previous
					= link_to "Finish", rounds_path(@league.id, @current_user.id), class: "btn btn-default btn-xs round-toggle.finish-button"
				- else
					.btn.btn-default.btn-xs.round-toggle.previous-button{"data-round-id" => @rounds_collection[i-1].id}
						Previous
					.btn.btn-default.btn-xs.round-toggle.next-button{"data-round-id" => @rounds_collection[i+1].id}
						Next
			%h6
				- if round.contestants.count == round.episode.expected_survivors 
					.alert.nav-check.alert-success{:role => "alert", "data-status" => "success", "data-round-difference" => round.contestants.count - round.episode.expected_survivors}
						Click "Next" to construct your bracket for the next episode. 
						%br/
						%br/
						Make changes to your bracket anytime up to the draft's deadline.
				- elsif round.contestants.count > round.episode.expected_survivors
					.alert.nav-check.alert-warning{:role => "alert", "data-round-id" => round.id, "data-status" => "warning", "data-round-difference" => round.contestants.count - round.episode.expected_survivors}
						Remove 
						%span.round-difference.strong{"data-round-id" => round.id}
							= pluralize((round.contestants.count - round.episode.expected_survivors).to_i, "contestant")
						who you think will get eliminated during this episode.
				- else
					.alert.nav-check.alert-warning{:role => "alert", "data-round-id" => round.id, "data-status" => "warning", "data-round-difference" => (round.contestants.count - round.episode.expected_survivors).abs}
						Select 
						%span.round-difference.strong{"data-round-id" => round.id}
							= pluralize((round.contestants.count - round.episode.expected_survivors).abs, "contestant")
						who you think will make it to the next round.
		.col-lg-12.contestants-display
			- @contestants.where(present: true).each do |contestant|
				- if @contestants_data_collection[contestant.id][:absent_episodes_collection].include? round.episode.id
					.thumbnail.contestant-thumbnail.eliminated
						%img{:src => "#{contestant.image}", :alt => "#{contestant.name}"} 
						.veil
						.caption
							.contestant-name
								= contestant.name
						.action.disabled
				- elsif @contestants_data_collection[contestant.id][:rounds_picked_collection].include? round.id
					.thumbnail.contestant-thumbnail.selected
						%img{:src => "#{contestant.image}", :alt => "#{contestant.name}"} 
						.veil
						.caption
							.contestant-name
								= contestant.name
						.action.selected.discard
							%i.glyphicon.glyphicon-remove{"data-contestant-id" => contestant.id, "data-round-id" => round.id}
				- else
					.thumbnail.contestant-thumbnail.available
						%img{:src => "#{contestant.image}", :alt => "#{contestant.name}"} 
						.veil
						.caption
							.contestant-name
								= contestant.name
						.action.available.pick
							%i.glyphicon.glyphicon-ok{"data-contestant-id" => contestant.id, "data-round-id" => round.id}



