.row
	.col-lg-12
		- @rounds_collection.each_with_index do |round, i|
			- if @rounds_collection.include? round
				%h4 Round #{ i+1 }
				%p You have selected #{ round.contestants.count } out of 18 contestants for this round.
				- @round.contestants.each do |contestant|
					.contestants-selected
						.thumbnail.contestant-thumbnail
							%img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "selected-contestant"}/ 
							/ %img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "nonselected-contestant"}/ 
							.caption
								.contestant-name
									= contestant.name
								.action
									%i.add-round.glyphicon.glyphicon-remove{"data-contestant-id" => contestant.id}