
.row.round-display{"id" => @active_round.id, "data-round-id" => @active_round.id}
	.col-lg-12#round-navigation
		%h4= @active_round_title
		%h6
			.alert.nav-check{:class => @rounds_data_collection[@active_round.id][:round_status], :role => "alert", "data-round-id" => @active_round.id, "data-status" => @rounds_data_collection[@active_round.id][:round_status], "data-round-difference" => @rounds_data_collection[@active_round.id][:count_difference]}
				%strong
					= @rounds_data_collection[@active_round.id][:round_message][:contentHero]
				= @rounds_data_collection[@active_round.id][:round_message][:contentSupport][:a]
				= pluralize(@rounds_data_collection[@active_round.id][:round_message][:contentCountDifference], "contestant") if @rounds_data_collection[@active_round.id][:round_message][:contentCountDifference]
				= @rounds_data_collection[@active_round.id][:round_message][:contentSupport][:b]
				%strong
					= @rounds_data_collection[@active_round.id][:round_message][:contentDate]
					%br/
					%br/
					.btn{class: @previous_button[1], "data-round-id" => @previous_round_id, "data-action" => @previous_button[2]}
						= @previous_button[0]
					.btn{class: @next_button[1], "data-round-id" => @next_round_id, "data-action" => @next_button[2]}
						= @next_button[0]

			contestants count
			%strong= @active_round.contestants.count
			expected survivors
			%strong= @active_round.episode.expected_survivors

	.col-lg-12.contestants-display
		- @contestants.each do |contestant|
			.thumbnail.contestant-thumbnail{class: @contestants_data_collection[contestant.id][:round_data][@active_round.id][:status]}
				%img.half-res{:src => "#{contestant.image}", :alt => "#{contestant.name}"}
				.veil
					= @contestants_data_collection[contestant.id][:round_data][@active_round.id][:label]
					%i.marker{class: @contestants_data_collection[contestant.id][:round_data][@active_round.id][:i_label]}
				.caption
					.contestant-name= contestant.name
				.action{class: @contestants_data_collection[contestant.id][:round_data][@active_round.id][:action]}
					%i{class: @contestants_data_collection[contestant.id][:round_data][@active_round.id][:glyphicon], "data-contestant-id" => contestant.id, "data-round-id" => @active_round.id}

