- @rounds_collection.each_with_index do |round, i|

	.row.round-display{"id" => round.id, "data-round-id" => round.id}
		.col-lg-12
			%h4
				Round #{i + 1}:
				- if round == @rounds_collection.first || round == @upcoming_rounds[0]
					.btn.btn-default.btn-xs.round-toggle.previous-button.disabled{"data-round-id" => @rounds_collection[i-1].id}
						Previous
					.btn.btn-default.btn-xs.round-toggle.next-button{"data-round-id" => @rounds_collection[i+1].id}
						Next			
				- elsif round == @rounds_collection.last
					.btn.btn-default.btn-xs.round-toggle.previous-button{"data-round-id" => @rounds_collection[i-1].id}
						Previous
					= link_to "Finish", rounds_path(@league.id, @current_user.id), class: "btn btn-default btn-xs round-toggle.finish-button"
				- else
					.btn.btn-default.btn-xs.round-toggle.previous-button{"data-round-id" => @rounds_collection[i-1].id}
						Previous
					.btn.btn-default.btn-xs.round-toggle.next-button{"data-round-id" => @rounds_collection[i+1].id}
						Next
			%h6
				- if round.contestants.count == round.episode.expected_survivors 
					%i.glyphicon.glyphicon-ok-circle
				- elsif round.contestants.count > round.episode.expected_survivors
					%i.glyphicon.glyphicon-remove-circle	
				= round.contestants.count
				\/
				= round.episode.expected_survivors 
				Contestants
		
		.col-lg-12.contestantsDisplay
			- @contestants.each do |contestant|
				.thumbnail.contestant-thumbnail
					%img{:src => "#{contestant.image}", :alt => "#{contestant.name}"} 
					.caption
						.contestant-name
							= contestant.name
					- if @contestants_data_collection[contestant.id][:absent_episodes_collection].include? round.episode.id
						.action.disabled
					- elsif @contestants_data_collection[contestant.id][:rounds_picked_collection].include? round.id
						.action.pick
							%i.remove-round.glyphicon.glyphicon-ok{"data-contestant-id" => contestant, "data-round-id" => round.id}
					- else
						.action.discard
							%i.remove-round.glyphicon.glyphicon-remove{"data-contestant-id" => contestant, "data-round-id" => round.id}

