- @rounds_collection.each_with_index do |round, i|

	.row.round-display{"id" => round.id, "data-round-id" => round.id}
		.col-lg-12
			%h4
				Round #{i + 1}:
				- if round == @rounds_collection.first || round == @upcoming_rounds[0]
					.btn.btn-default.btn-xs.round-toggle.previous-button.disabled{"data-round-id" => @rounds_collection[i-1].id}
						Previous
					.btn.btn-default.btn-xs.round-toggle.next-button{"data-round-id" => @rounds_collection[i+1].id}
						Next			
				- elsif round == @rounds_collection.last
					.btn.btn-default.btn-xs.round-toggle.previous-button{"data-round-id" => @rounds_collection[i-1].id}
						Previous
					= link_to "Finish", rounds_path(@league.id, @current_user.id), class: "btn btn-default btn-xs round-toggle.finish-button"
				- else
					.btn.btn-default.btn-xs.round-toggle.previous-button{"data-round-id" => @rounds_collection[i-1].id}
						Previous
					.btn.btn-default.btn-xs.round-toggle.next-button{"data-round-id" => @rounds_collection[i+1].id}
						Next
			%h6
				- if round.contestants.count == round.episode.expected_survivors 
					%i.glyphicon.glyphicon-ok-circle
				- elsif round.contestants.count > round.episode.expected_survivors
					%i.glyphicon.glyphicon-remove-circle	
				= round.contestants.count
				\/
				= round.episode.expected_survivors 
				Contestants

		.col-lg-12.roundDisplay{"data-contestants-count" => round.contestants.count, "data-index" => i + 1 }
			- round.contestants.order(name: :asc).each do |contestant|
				.contestants-selected
					.thumbnail.contestant-thumbnail
						%img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "selected-contestant"}/ 
						/ %img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "nonselected-contestant"}/ 
						.caption
							.contestant-name
								= contestant.name
							.action
								%i.remove-round.glyphicon.glyphicon-remove{"data-contestant-id" => contestant.id, "data-round-id" => round.id}
