- @rounds_collection.each_with_index do |round, i|

	.row.round-display{"id" => round.id, "data-round-id" => round.id}
		.col-lg-12
			%h4
				Round #{i + 1}:
				= round.contestants.count
				\/
				= round.episode.expected_survivors 
				contestants
		.col-lg-12.roundDisplay{"data-contestants-count" => round.contestants.count, "data-index" => i + 1 }
			- round.contestants.order(name: :asc).each do |contestant|
				.contestants-selected
					.thumbnail.contestant-thumbnail
						%img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "selected-contestant"}/ 
						/ %img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "nonselected-contestant"}/ 
						.caption
							.contestant-name
								= contestant.name
							.action
								%i.remove-round.glyphicon.glyphicon-remove{"data-contestant-id" => contestant.id, "data-round-id" => round.id}
		.col-lg-12
			- if round == @rounds_collection.first || round == @upcoming_rounds[0]
				.btn.btn-default.btn-sm.round-toggle.next-button{"data-round-id" => @rounds_collection[i+1].id}
					Next			
			- elsif round == @rounds_collection.last
				.btn.btn-default.btn-sm.round-toggle.finish-button
					Finish
			- else
				.btn.btn-default.btn-sm.round-toggle.previous-button{"data-round-id" => @rounds_collection[i-1].id}
					Previous
				.btn.btn-default.btn-sm.round-toggle.next-button{"data-round-id" => @rounds_collection[i+1].id}
					Next
