Herro
/ .row{"id" => round.id, "data-round-id" => round.id}
/ 	.col-lg-12
/ 		%h4
/ 			Round #{i + 1}
/ 		%h6
/ 			Contestant count:
/ 			= round.contestants.count
/ 			.btn.btn-xs.btn-default
/ 				Clear all
/ 	.col-lg-12#roundDisplay{"data-contestants-count" => round.contestants.count, "data-index" => i + 1 }
/ 		- round.contestants.order(name: :asc).each do |contestant|
/ 			.contestants-selected
/ 				.thumbnail.contestant-thumbnail
/ 					%img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "selected-contestant"}/ 
/ 					/ %img{:src => "#{contestant.image}", :alt => "#{contestant.name}", class: "nonselected-contestant"}/ 
/ 					.caption
/ 						.contestant-name
/ 							= contestant.name
/ 						.action
/ 							%i.remove-round.glyphicon.glyphicon-remove{"data-contestant-id" => contestant.id, "data-round-id" => round.id}
/ 	.col-lg-12
/ 		- if round == @rounds_collection.first
/ 			.btn.btn-default.btn-md.saveButton
/ 				Next			
/ 		- elsif round == @rounds_collection.last
/ 			.btn.btn-default.btn-md.finishButton
/ 				Finish
/ 		- else
/ 			.btn.btn-default.btn-md.previousButton
/ 				Previous
/ 			.btn.btn-default.btn-md.saveButton
/ 				Next