.panel.panel-default
	.panel-body
		.col-md-10.col-lg-10
			%h3= @league.name
			%p
				= @season.show.name + ": "
				= @season.name
			%p 
		.col-lg-2.text-right
			%h4.small
				Deadline: #{@league.season.premiere_date.strftime("%B %d")}
			%p.small
	.panel-body
		/ Contestant Board
		#bracketBoard.col-lg-12
			.row
				#availableContestant.col-lg-5
					= render partial: "avail_contestants"
				#roundEdit.col-lg-5{"data-round-id" => @round.id}
					- if @rounds_collection.count == 0
						= render partial: "empty_bracket"
					- else
						= render partial: "current_bracket"
				#board.col-lg-2
					- @season.episode_count.times do |i|
						.row
							.btn.btn-default.btn-block.btn-sm{"data-index" => i + 1, "id" => i + 1}
								- if i+1 == @season.episode_count
									Final Round
								- else
									Round #{ i+1 }
		/ END Bracket Board