.panel.panel-default
	.panel-body
		.col-md-10.col-lg-8
			%h3= @league.name
			%p
				= @season.show.name + ": "
				= @season.name
			%p 
		.col-lg-4.text-right
			= link_to "Bracket Overview", rounds_path(@league.id, @current_user.id), class: "btn btn-default btn-sm"
			= link_to "Back to League", league_path(@league.id), class: "btn btn-default btn-sm"
		/ Contestant Board
		#bracketBoard.col-lg-12
			.row
				#roundEdit.col-lg-10
					= render partial: "current_bracket"
				%ul#episodeBoard.col-lg-2{"data-rounds-count" => @rounds_ids_collection.count, "data-rounds-ids" => @rounds_ids_collection}
					#padding-for-episode-column
					- @episode_pack.each_with_index do |episode, i|
						%li{class: episode[3], "data-index" => episode[1], "data-round-id" => episode[0]}
							= episode[2]						
		/ END Bracket Board