.panel.panel-default
	.panel-body
		.col-md-10.col-lg-8
			%h3= @league.name
			%p
				= @season.show.name + ": "
				= @season.name
			%p 
		.col-lg-4.text-right
			%h4.small Deadline: #{@league.season.premiere_date.strftime("%B %d")}
			= link_to "Bracket Overview", rounds_path(@league.id, @current_user.id), class: "btn btn-default btn-sm"
			= link_to "Back to League", league_path(@league.id), class: "btn btn-default btn-sm"
	.panel-body
		/ Contestant Board
		#bracketBoard.col-lg-12
			.row
				#availableContestant.col-lg-5
					= render partial: "avail_contestants"
				#roundEdit.col-lg-5
					- if @rounds_collection.count == 0
						= render partial: "empty_bracket"
					- else
						= render partial: "current_bracket"
				%ul#board.col-lg-2{"data-rounds-count" => @rounds_collection.count, "data-rounds-ids" => @rounds_ids}
					- @rounds_collection.each_with_index do |round, i|
						- if round == @rounds_collection.first
							%li.btn.btn-block.btn-sm.btn-default.btn-primary.selected{"data-index" => i + 1, "data-round-id" => round.id}
								Episode #{ i + 1 }
						- else
							%li.btn.btn-block.btn-sm.btn-default{"data-index" => i + 1, "data-round-id" => round.id}
								- if round == @rounds_collection.last
									Final Episode
								- else
									Episode #{ i + 1 }
		/ END Bracket Board