.panel.panel-default
	.panel-body
		.col-md-10.col-lg-10
			%h3= @league.name
			%p
				= @season.show.name + ": "
				= @season.name
			%p 
		- if @league.active?
			.col-lg-2.text-right
				%h4.small
					Deadline: #{@league.season.premiere_date.strftime("%B %d")}
		%p.small
			= link_to "Back to League", league_path(@league.id), class: "btn btn-default btn-sm"
	.panel-body
		/ Contestant Board
		#roundSelector.col-lg-12
			%p Click on a round to view your contestant selection.
			- @season.episode_count.times do |i|
				.btn.btn-default.btn-sm 
					- if i+1 == @season.episode_count
						Final Round
					- else
						Round #{ i+1 }
		#roundViewPort
			%ul.bracketList.row
			- @rounds_collection.each_with_index do |round, i|
				%li.bracketItem
					.panel
						%h4 Round #{ i+1 }
						- round.contestants.order(name: :asc).each do |contestant|	
							.row
								.col-lg-12
									= contestant.name

		/ END Bracket Board
