.panel.panel-default
	.panel-body
		.col-md-8.col-lg-8
			%h3= @league.name
			%p
				= @season.show.name + ": "
				= @season.name
			%p 
		.col-md-4.col-lg-4.text-right
			- if @user == @current_user && @league.active?
				- if @rounds_collection.count == 0
					= button_to "Build Elimination Bracket", rounds_create_path(@league.id), method: "POST", class: "btn btn-default btn-sm"
				- elsif @league.locked == false
					= link_to "Edit Bracket", rounds_edit_path(@league.id, "first"), class: "btn btn-default btn-sm"
			= link_to "Back to League", league_path(@league.id), class: "btn btn-default btn-sm"
		/ Contestant Board
		#roundViewPort.col-lg-12
			.bracketList
				- @rounds_data_package.each do |round|
					.bracketItem.col-lg-2.col-md-2.col-sm-2.col-xs-2
						%table.table.table-bordered.table-condensed.table-hover
							%thead
								%th= round[1][:header]
							%tbody
								- round[1][:contestants_data].each do |contestant|
									%tr{class: contestant[1][:tr_class]}
										%td{class: contestant[1][:class]}
											-#%a{"tabindex" => 0, role: "button", "data-toggle" => "popover", "data-trigger"=> "focus", "title"=>"Dismissible popover", "data-content"=>"And here's some amazing content. It's very engaging. Right?"}
											%span
												= contestant[0].name
					-# 			- @season.contestants.order(name: :asc).each do |contestant|
					-# 				%tr
					-# 					%td= contestant.name
					-# 				-# - if contestant.present == false
					-# 				-# 	%tr.strike-through
					-# 				-# 		%td= contestant.name
					-# 				-# - else
					-# 				-# 	- if round.contestants.include? contestant
					-# 				-# 		%tr.selected-contestant
					-# 				-# 			%td= contestant.name
					-# 				-# 	- else
					-# 				-# 		%tr
					-# 				-# 			%td= contestant.name
					-# 		/ END Bracket Board