.panel.panel-default
	.panel-body
		.col-md-8.col-lg-8
			%h3= @league.name
			%p
				= @season.show.name + ": "
				= @season.name
			%p 
		.col-md-2.col-lg-4.text-right
			- if @league.active?
				%h4.small
					Deadline: #{@league.season.premiere_date.strftime("%B %d")}
			- if @user == @current_user && @league.active?
				- if @rounds_collection.count == 0
					= link_to "Build Elimination Bracket", rounds_create_path(@league.id), class: "btn btn-default btn-sm"
				- else
					= link_to "Edit Rounds", rounds_edit_path(@league.id), class: "btn btn-default btn-sm"
			= link_to "Back to League", league_path(@league.id), class: "btn btn-default btn-sm"
	.panel-body
		/ Contestant Board
		#roundSelector.col-lg-12
			%p Click on a round to view your contestant selection.
			- @rounds_collection.each_with_index do |round, i|
				.btn.btn-default.btn-sm
					- if round == @rounds_collection.last
						Final Round
					- else
						Round #{ i + 1 }
		#roundViewPort
			%ul.bracketList.row
			- @rounds_collection.each do |round|
				%li.bracketItem
					.panel
						%h4= @rounds_collection.rindex(round)
						- round.contestants.order(name: :asc).each do |contestant|	
							.row
								.col-lg-12
									= contestant.name

		/ END Bracket Board
