<% if flash[:notice] && flash[:color] == "valid" %>
	<div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% elsif flash[:notice] && flash[:color] == "invalid" %>
	<div class="alert alert-warning" role="alert"><%= flash[:notice] %></div>
<% elsif flash[:notice] && flash[:color] == "prohibited"%>
	<div class="alert alert-danger" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="signup_form col-md-12">
			<h1>Sign Up</h1>
			<%= form_for(@user, :class => "form-horizontal", :row => "form") do |f| %>
				<% if @user.errors.any? %>
					<div class="alert alert-danger" role="alert">
						<h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
						<ul>
							<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
						</ul>
					</div>
				<% end %>
				<div class="row form-group">
					<div class="col-sm-4 text-right">
						<%= f.label :email %>
					</div>
					<div class="col-sm-4">
						<%= f.text_field :email, :class => "form-control", placeholder: 'email@domain.com' %>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-4 text-right">
						<%= f.label :username %>
					</div>
					<div class="col-sm-4">
						<%= f.text_field :username, :class => "form-control", placeholder: 'username' %>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-4 text-right">
						<%= f.label :password %>
					</div>
					<div class="col-sm-4">
						<%= f.password_field :password, :class => "form-control" %>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-4 text-right">
						<%= f.label :password_confirmation %>
					</div>
					<div class="col-sm-4">
						<%= f.password_field :password_confirmation, :class => "form-control" %>
					</div>
				</div>
				<div class="actions row form-group">
					<div class="actions col-sm-offset-4 col-sm-4">
						<%= f.submit "Register", :class => "btn btn-primary btn-lg" %>
					</div>
				</div>
				<div class="actions col-sm-offset-4 col-sm-4">
					<p>Already signed up? <%= link_to "Sign in", login_path %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>