- if flash[:notice]
	.alert{class: "alert-#{flash[:color]}"}

.panel.panel-default#episode-display
	.panel-body
		.col-lg-12
			%h2
				= @episode.season.show.name + ": "
				= @episode.season.name
			%p
				- @episodes_list.each_with_index do |episode, index|
					- if episode == @episode
						= link_to "Episode #{index + 1}", episode_path(episode.id), class: "btn btn-xs btn-primary"
					- else
						= link_to "Episode #{index + 1}", episode_path(episode.id), class: "btn btn-xs btn-default"
			%p
				Aired On:
				= @episode.air_date.strftime("%B %d, %Y")
		.col-lg-12
			%h3 Events
			.col-lg-2
				%table.table
					%thead
						%tr
							%th Contestants
					%tbody
						- @season.contestants.order(name: :asc).each do |contestant|
							%tr
								%td= button_to contestant.name, (), class: "btn btn-default btn-sm btn-block"
			.col-lg-10
				%table.table.table-hover
					%thead
						%tr
							%th Event
					%tbody
						- @episode.events.each do |event|
							%tr
								%td
									= event.contestant.name
									= event.scheme.description

