<%= form_for(@event) do |f| %>
	<% if @event.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@event.errors.count, "error") %> prohibited this score from being saved:</h2>

			<ul>
			<% @event.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :show_id %><br>
		<%= f.select(:show_id, options_for_select(Show.select_show), {}, {class:"form-control"}) %>
	</div>
	<div class="field">
		<%= f.label :type %><br>
		<%= f.select(:type, options_for_select(Event.select_type), {}, {class:"form-control"}) %>
	</div>
	<div class="field">
		<%= f.label :event %><br>
		<%= f.text_area :event, class:"form-control" %>
	</div>
	<div class="field">
		<%= f.label :points_asgn, "Points assignment" %><br>
		<%= f.number_field :points_asgn, class:"form-control", :placeholder => 0 %>
	</div>
	<div class="actions">
		<%= f.submit "Add new schema", class:"btn btn-block btn-default", :id => "new-event-submit" %>
	</div>
<% end %>
