<h1>The Reality League</h1>

<% if @current_user.present? %>
	<!-- CURRENT USER PRESENT> -->
	<!-- ==================================================== -->
	<% if flash[:notice].present? %>
		<div class="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>
	
	<%= link_to(content_tag(:button, 'Manage Leagues'), leagues_path) %>
	<div>
		<%= render partial: 'leagues/nav_league_access' %>
	</div>

<% else %>
	<!-- IF CURRENT USER DOES NOT EXIST -->
	<!-- ==================================================== -->
	<div class="jumbotron">
		<h3>Welcome to the best place to play Fantasy Reality TV</h3>
		<p>Create or join a league and challenge your friends to play! Manage your team with daily scoring, player stats, season reports, news, and expert advice.</p>
		
		<%= render partial: 'leagues/nav_league_access' %>
	</div>
	<%= render partial: 'instructions' %>
<% end %>

<h2>Browse Shows</h2>
<%= link_to(content_tag(:button, 'All Shows', class: ""), shows_path)%>
<%= render partial: 'featured_shows' %>