- if flash[:button].present?
	.alert{class: "alert-#{flash[:color]}", role: "alert"}
		%strong=	flash[:notice]
		%p= flash[:subtext]
		%p
		- flash[:button].each_with_index do |button, i|
			= link_to flash[:button][i][0], flash[:button][i][1], class: "#{flash[:button][i][2]}"
- if @current_user
	= render partial: "promo"
	= render partial: "instructions"
- else
	.jumbotron
		%h1 Welcome to The Reality League 
		%h3 The best place to play Fantasy Reality TV
		.row
			.col-md-12
				%p Play "fantasy" games with your favorite reality TV shows. Create or join a league and challenge your friends to play! Manage your team with daily scoring, player stats, season reports, news, and expert advice.
		.row
			.col-sm-4.col-md-4.col-lg-4
				%a{:href => "/leagues/new"}
					.branding-box.btn.btn-default.col-xs-12.col-sm-12.col-md-12.col-lg-12
						%h4 Step 1:
						%h2 Create a League
						%caption OR join an existing one.
						%h2
			.col-sm-4.col-md-4.col-lg-4
				%a{:href => "/shows"}
					.branding-box.btn.btn-default.col-xs-12.col-sm-12.col-md-12.col-lg-12
						%h4 Step 2:
						%h2 Pick Your Team
						%caption Choose contestants wisely.
						%h2
			.col-sm-4.col-md-4.col-lg-4
				.branding-box.btn.btn-default.col-xs-12.col-sm-12.col-md-12.col-lg-12
					%h4 Step 3:
					%h2 Score Points
					%caption Sit back and enjoy the show!
					%h2
	= render partial: "instructions"