- if flash[:notice] && flash[:color] == "valid"
	.alert.alert-success{:role => "alert"}= flash[:notice]
- elsif flash[:notice] && flash[:color] == "invalid"
	.alert.alert-warning{:role => "alert"}= flash[:notice]
- if @current_user.present?
	/ CURRENT USER PRESENT>
	/ ====================================================
	= render partial: "leagues/nav_league_access"
	= render partial: "/seasons/featured_seasons"
- else
	/ IF CURRENT USER DOES NOT EXIST
	/ ====================================================
	.jumbotron
		%h3 Welcome to the best place to play Fantasy Reality TV
		%p Sign up/sign in to join a league and create your dream roster, then sit back and watch as show contestants score points for you.
	= render partial: "leagues/nav_league_access"
	= render partial: "/seasons/featured_seasons"
	= render partial: "instructions"