<% if flash[:notice] && flash[:color] == "valid" %>
	<div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% elsif flash[:notice] && flash[:color] == "invalid"%>
	<div class="alert alert-warning" role="alert"><%= flash[:notice] %></div>
<% end %>

<% if @current_user.present? %>
	<!-- CURRENT USER PRESENT> -->
	<!-- ==================================================== -->
	<%= render partial: "leagues/nav_league_access" %>
<% else %>
	<!-- IF CURRENT USER DOES NOT EXIST -->
	<!-- ==================================================== -->
	<div class="jumbotron">
		<h3>Welcome to the best place to play Fantasy Reality TV</h3>
		<p>Create or join a league and challenge your friends to play! Manage your team with daily scoring, player stats, season reports, news, and expert advice.</p>
	</div>
	<%= render partial: "leagues/nav_league_access" %>
	<%= render partial: "instructions" %>		
<% end %>

<%= render partial: "/seasons/featured_seasons" %>