<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel-heading">
			<h2>Show Listing</h2>
			<%= link_to 'Add New Show', new_show_path, class:"btn btn-default" %>
		</div>
		<%= @shows.count %>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Show Name</th>
						<th>Status</th>
						<th>Premiere</th>
						<th>Random</th>
						<th>Actions</th>

					</tr>
				</thead>
				<tbody>
					<% @shows.each do |show| %>
						<tr>
							<td><%= link_to show.name, show_path(show.id) %></td>
							<td>
								<% if show.expired == true %>
									Completed
								<% else %>
									<% if show.premiere_date < @current_date %>
										<%= @current_date %>
									<% else %>
										Hahah
									<% end %> 
								<% end %>
							</td>
							<td><%= link_to 'Edit', edit_show_path(show.id) %></td>
							<td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>