.panel.panel-default
	.panel-body
		.col-lg-12
			%h2 All Shows
		.panel-body
			%table.table.table-hover
				%thead
					%tr
						%th.col-lg-3 Shows List
						%th.col-lg-9
				%tbody
					- @shows.each do |show|
						%tr
							%td= link_to show.name, show_path(show.id)
							%td
								- show.seasons.order("number DESC").each do |season|
									- if season.expired
										= link_to "Season #{season.number}", season_path(season.id), class:"btn btn-default btn-xs"
									- elsif season.published == false
										.small Coming soon!
										= link_to "Season #{season.number}", season_path(season.id), class:"btn btn-warning btn-xs disabled"
									- else
										- if season.created_at.between?(DateTime.now - 7, DateTime.now)
											.small New!
										= link_to "Season #{season.number}", season_path(season.id), class:"btn btn-primary btn-xs"
