<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h3><%= @show.name %></h3>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-9 col-md-push-3">
				<div class="panel-body">
					<% @contestants.each do |contestant| %>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<%= image_tag contestant.image %>
								<div class="caption caption-header">
									<h3><%= contestant.name %></h3>
									Age: <%= contestant.age %>
										<br>
									<%= contestant.occupation %>
								</div>
								<div class="caption caption-sm">
									<p><%= contestant.description %></p>
								</div>
								<br>
								<div class="caption">
									<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
								</div>
							</div>
						</div>

					<% end %>
				</div>
			</div>
			<div class="col-md-3 col-md-pull-9">
				<% if @show.expired == true %>
					Premiered:
					<h4><%= @show.premiere_date.strftime("%B %d, %Y") %></h4>
					<p><%= @show.description %></p>
				<% else %>
					Premieres:
					<h4><%= @show.premiere_date.strftime("%B %d") %></h4>
					<%= button_to "Find a league for this show", leagues_path, class:"btn btn-default" %> <!-- FIXME -->
				<% end %>
				<br>
			</div>
			<!-- end -->
		</div>
	</div>
</div>