<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel-header">
			<div class="col-md-12">
				<h2><%= @show.name %></h2>
			</div>
		</div>
		<div class="col-md-4">
			<%= image_tag(@show.image, class:"thumbnail") %>
		</div>
		<div class="col-md-8">
			<div class="panel-group">
				<%= render "scoring_system" %>
			</div>
			<div class="panel-group" id="accordion">
				<% @show.seasons.order("number DESC").each_with_index do |season, index| %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>">
									Season <%= season.number%>: <%= season.name %>
								</a>
							</h4>
						</div>
						<div id="collapse<%= index %>" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<h4>Description:</h4>
											<%= season.description %>
										<h4>Contestants:</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<span class="col-md-12 text-right">
	<% if @current_user && @current_user.admin? %>
		<%= link_to "Edit Show", edit_show_path(@show.id), class:"btn btn-default" %>
		<%= link_to "Back to Shows", shows_path, class:"btn btn-default" %>
	<% end %>
	<br>
	<br>
</span>