!!!
%html
	%head
		%title The Reality League
		%link{:href => "http://fonts.googleapis.com/css?family=Patua+One|Open+Sans", :rel => "stylesheet", :type => "text/css"}/
		%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
		%link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}/
		= stylesheet_link_tag 'admin'
		= javascript_include_tag 'application', 'data-turbolinks-track' => false
		= csrf_meta_tags
	%body
		.wrapper
			%nav.navbar.navbar-default{:role => "navigation"}
				.container-fluid
					.collapse.navbar-collapse
						%ul.nav.navbar-nav.navbar-right
							- if @current_user.present?
								%li
									%a{:href => root_path}
										Back to User Portal
								%li
									%a{:href => user_path(@current_user)}
										= @current_user.username
								%li
									%a{:href => "/login", :data => {:method => :delete, :confirm => 'Really logout?'}} Logout
			%div.col-lg-2
				%nav.navbar#aside_nav
					.container-fluid
						.collapse.navbar-collapse
							%ul.nav.nav-pills.nav-stacked
								%li
									%a{:href => admin_path} Admin Dashboard
								%li
									%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "/leagues"}
										Show
										%span.caret
									%ul.dropdown-menu.right-menu{:role => "menu"}
										%li= link_to "View All Shows", admin_shows_path
										%li= link_to "Add New Show", new_show_path
										%li= link_to "Search Leagues (Users)", leagues_search_path
								%li
									%a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
										Seasons
										%span.caret
									%ul.dropdown-menu.right-menu{:role => "menu"}
										%li= link_to "Manage All Seasons", admin_seasons_path
										%li= link_to "Add New Show", new_show_path
										%li= link_to "Search Leagues", leagues_search_path
								%li
									%a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
										Schemes
										%span.caret
									%ul.dropdown-menu.right-menu{:role => "menu"}
										%li= link_to "View/Update Schemes", schemes_path
										%li= link_to "Add New Scheme", new_scheme_path
								%li
									%a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
										Episodes
										%span.caret			
									%ul.dropdown-menu.right-menu{:role => "menu"}
										%li= link_to "Add New Episode", new_episode_path
								%li
									%a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
										Events
										%span.caret		
									%ul.dropdown-menu.right-menu{:role => "menu"}
										%li= link_to "Track events", new_event_path
								%li.dropdown
									%a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
										Users	
										%span.caret		
									%ul.dropdown-menu.right-menu{:role => "menu"}
										%li= link_to "View All Shows", admin_shows_path
										%li= link_to "Add New Show", new_show_path
										%li= link_to "Search Leagues", leagues_search_path							
			%div#admin_content.col-lg-10
				= yield