= form_for(@schema) do |f|
	- if @schema.errors.any?
		#error_explanation
			%h2
				= pluralize(@schema.errors.count, "error")
				prohibited this score from being saved:
			%ul
				- @schema.errors.full_messages.each do |message|
					%li= message
	.field.has-success.has-feedback
		= f.label :show_id
		%br/
		= f.select(:show_id, options_for_select(Show.select_show), {}, {class:"form-control"})
	.field
		= f.label :type
		%br/
		= f.select(:type, options_for_select(Schema.select_type), {}, {class:"form-control"})
	.field
		= f.label :event
		%br/
		= f.text_area :event, class:"form-control"
	.field
		= f.label :points_asgn, "Points assignment"
		%br/
		= f.number_field :points_asgn, class:"form-control", :placeholder => 0
	.actions
		= f.submit "Add new schema", class:"btn btn-block btn-default", :id => "new-event-submit"